
<lg-container>
  <lg-title>Hey</lg-title>
  <section class="menu">
    <nav>
      <ul>
        <li>
          <a routerLink="/recipes" routerLinkActive="active">
            <lg-card [center]="true">
              Recipes
            </lg-card>
          </a>
        </li>

        <li>
          <a routerLink="/products" routerLinkActive="active">
            <lg-card [center]="true">
              Products
            </lg-card>
          </a>
        </li>
      </ul>
    </nav>
  </section>
</lg-container>
