<form [formGroup]="form">
  <lg-gap-column [position]="'start'">
    <lg-control label="{{ 'recipe.form.name.label'|translate }}" lgExpand>
      <lg-autocomplete #nameField
                       [key]="'name'"
                       [resource]="'recipes-names'"
                       formControlName="name"></lg-autocomplete>
    </lg-control>


    <lg-control label="{{ 'recipe.form.description.label'|translate }}" lgExpand>
      <lg-textarea [placeholder]="'recipe.form.description.placeholder'|translate"
                   formControlName="description"></lg-textarea>
    </lg-control>

    <lg-controls-row [mobileMode]="true" lgExpand>
      <lg-control label="{{ 'recipe.form.outcome_amount.label'|translate }}" lgExpand>
        <lg-number-input #amount
                         [placeholder]="'recipe.form.outcome_amount.placeholder'|translate"
                         formControlName="outcome_amount"
                         lgParseMath></lg-number-input>
      </lg-control>

      <lg-buttons-group [items]="buttons"
                        formControlName="outcome_unit">
      </lg-buttons-group>
    </lg-controls-row>

    <lg-control-group label="{{ 'recipe.form.ingredients.label'|translate }}" lgExpand>
      <lg-gap-column [position]="'start'">
        <lg-gap-column formArrayName="ingredients" lgExpand>
          @for (control of ingredients.controls;track (control.value.amount + i);let i = $index) {
            <ng-container [formGroupName]="i">
              <lg-controls-row [mobileMode]="true">
                @if (textFieldState()[i]) {
                  <lg-gap-column [size]="'small'">
                    <lg-control label="{{ 'recipe.form.ingredients.name.label'|translate }}">
                      <ng-container ngProjectAs="endLabelTpl">
                        <span (click)="closeTextField(i)">Hide</span>
                      </ng-container>

                      <lg-input
                        (onInputChanged)="onIngredientSelected(amount, i, ['product_id', 'recipe_id'])"
                        [placeholder]="'recipe.form.ingredients.name.placeholder'|translate"
                        formControlName="name"></lg-input>
                    </lg-control>
                  </lg-gap-column>
                } @else {
                  <lg-gap-column [size]="'small'">
                    <lg-control>
                      <ng-container ngProjectAs="labelTpl">
                        <lg-button (click)="closeRecipeField(i)"
                                   [flat]="true"
                                   [size]="'small'"
                                   [active]="!recipeFieldState()[i]">
                          {{ 'recipe.form.ingredients.product_id.label'|translate }}
                        </lg-button>
                      </ng-container>

                      <ng-container ngProjectAs="afterLabelTpl">
                        <lg-button (click)="openRecipeField(i)"
                                   [flat]="true"
                                   [size]="'small'"
                                   [active]="recipeFieldState()[i]">
                          {{ 'recipe.form.ingredients.recipe_id.label'|translate }}
                        </lg-button>
                      </ng-container>

                      <ng-container ngProjectAs="endLabelTpl">
                        <span (click)="openTextField(i)">
                          {{ 'recipe.form.ingredients.name.switch-label'|translate }}
                        </span>
                      </ng-container>

                      @if (recipeFieldState()[i]) {
                        <lg-multiselect [resource]="'recipes'"
                                        (onSelected)="onIngredientSelected(amount, i, ['product_id', 'name'])"
                                        [autoLoad]="true"
                                        formControlName="recipe_id"></lg-multiselect>
                      } @else {
                        <lg-multiselect [resource]="'products'"
                                        (onSelected)="onIngredientSelected(amount, i, ['recipe_id', 'name'])"
                                        [autoLoad]="true"
                                        #productsSelector
                                        formControlName="product_id">
                        </lg-multiselect>
                      }

                    </lg-control>
                  </lg-gap-column>
                }

                <lg-control label="{{ 'recipe.form.ingredients.amount.label'|translate }}">
                  <lg-number-input #amount
                                   lgParseMath
                                   (onKeydown)="addLast()"
                                   [placeholder]="'recipe.form.ingredients.amount.placeholder'|translate:{unit:(form.value.ingredients?.[i]?.unit || 'gram')}"
                                   formControlName="amount"></lg-number-input>
                </lg-control>

                <lg-buttons-group [items]="buttons"
                                  formControlName="unit">
                </lg-buttons-group>

                <ng-container ngProjectAs="rowActions">
                  <lg-button [style]="'danger'"
                             [size]="'tiny'"
                             [icon]="true"
                             (click)="deleteIngredient(i)">
                    <mat-icon aria-hidden="false" fontIcon="close"></mat-icon>
                  </lg-button>
                </ng-container>

              </lg-controls-row>
            </ng-container>
          }
        </lg-gap-column>

        <lg-button (click)="addIngredient()"
                   [size]="'small'"
                   [style]="'success'">
          {{ 'recipe.form.ingredients.add-btn'|translate }}
        </lg-button>
      </lg-gap-column>
    </lg-control-group>


    <lg-control label="{{ 'recipe.form.category_id.label'|translate }}" lgExpand>
      <lg-multiselect #categorySelect
                      [resource]="'recipes-categories'"
                      formControlName="category_id"></lg-multiselect>
    </lg-control>

    @if (topCategories().length) {
      <lg-chips-list [control]="categorySelect" [items]="topCategories()"></lg-chips-list>
    }
  </lg-gap-column>
</form>
