<lg-flex-column [size]="'medium'">
  <lg-title>
    📷 {{ 'widgets.barcode.title' | translate }}
  </lg-title>

  <lg-flex-row [top]="true" [mobileMode]="true">
    @if (showScanner()) {

      <video id="video"></video>
      <lg-flex-column>
        <lg-flex-row lgExpand>
          <lg-input [(ngModel)]="barcode"
                    [placeholder]="'widgets.barcode.placeholder' | translate"
                    lgExpand
                    lgParseMath></lg-input>

          <lg-button (click)="onBarcodeManualInput()">{{ 'widgets.barcode.search' | translate }}</lg-button>

          <lg-button (click)="clear()">{{ 'widgets.barcode.clear' | translate }}</lg-button>
        </lg-flex-row>


        @if (showProductForm() && productResult()) {
          <lg-flex-column [size]="'medium'">
            <lg-control [label]="'widgets.barcode.name' | translate">
              <lg-input [(ngModel)]="product.name"
                        [placeholder]="'widgets.barcode.name' | translate"
                        lgExpand
                        lgParseMath></lg-input>
            </lg-control>
            <lg-control [label]="'widgets.barcode.amount' | translate">
              <lg-number-input [(ngModel)]="product.amount"
                               [placeholder]="'widgets.barcode.amount' | translate"
                               lgExpand
                               lgParseMath></lg-number-input>
            </lg-control>

            <lg-control [label]="'widgets.barcode.price' | translate">
              <lg-number-input [(ngModel)]="product.price"
                               [placeholder]="'widgets.barcode.price' | translate"
                               lgExpand
                               lgParseMath></lg-number-input>
              <div>{{ product.unit }}</div>
            </lg-control>

            <lg-button lgShrink (click)="addProduct()">{{ 'widgets.barcode.add-product' | translate }}</lg-button>
          </lg-flex-column>
        }
      </lg-flex-column>
    } @else {
      <lg-button (click)="openScanner()">{{ 'widgets.barcode.scan' | translate }}</lg-button>
    }

  </lg-flex-row>
</lg-flex-column>
