<form [formGroup]="form">
  <lg-gap-column>
    <lg-control label="Name">
      <lg-autocomplete #nameField
                       [key]="'name'"
                       [resource]="'products-names'"
                       formControlName="name"></lg-autocomplete>
    </lg-control>

    <lg-gap-row [bottom]="true" [mobileMode]="true">
      <lg-control label="Amount" lgExpand>
        <lg-number-input (onInputChange)="priceInput.focus()"
                         [placeholder]="'In '+ form.value.unit "
                         formControlName="amount"
                         lgParseMath>
          <div ngProjectAs="after">
            <lg-tooltip [position]="'left'">
              Widgets

              <div ngProjectAs="content">
                <lg-amount-widgets (eggsChanged)="eggsChanged($event)"></lg-amount-widgets>
              </div>
            </lg-tooltip>
          </div>
        </lg-number-input>
      </lg-control>

      <lg-buttons-group [items]="buttons"
                        formControlName="unit">
      </lg-buttons-group>
    </lg-gap-row>

    <lg-control label="Price">
      <lg-number-input #priceInput
                       [placeholder]="'For the entire product in your currency'"
                       formControlName="price"
                       lgParseMath></lg-number-input>
    </lg-control>

    <lg-gap-column>
      <lg-control label="Source">
        <lg-autocomplete #sourceInput
                         (onSelected)="sourceChips.clearSelected()"
                         [noLoad]="true"
                         [resource]="'sources'"
                         formControlName="source"></lg-autocomplete>
      </lg-control>

      <div [hidden]="!topSources().length">
        <lg-chips-list #sourceChips [control]="sourceInput" [items]="topSources()"></lg-chips-list>
      </div>
    </lg-gap-column>

    <lg-gap-column>
      <lg-control label="Category">
        <lg-multiselect #categorySelect
                        [resource]="'categories'"
                        formControlName="category_id"></lg-multiselect>
      </lg-control>

      @if (topCategories().length) {
        <lg-chips-list [control]="categorySelect" [items]="topCategories()"></lg-chips-list>
      }
    </lg-gap-column>
  </lg-gap-column>
</form>
