@import "@ng-select/ng-select/themes/default.theme.css";

:root {
  --text-color: #0d1340;
  --text-color-inverse: #f5f5f5;
  --focus-shadow: 0 0 0 2px var(--active-color);
  --active-color: #ff7e67;
  --control-bg: #fafafa;
  --control-bg-selected: #c4e2ea;
  --placeholder: #7a7c89;
  --header-height: 51px;
  --card-bg: #fff;
  --background-color: #f9c3ff;
  --secondary-color: #5e6282;
  --bounce-bezier: cubic-bezier(.47, 1.64, .41, .8);
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter18pt-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter24pt-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, "Helvetica Neue", sans-serif;
  height: 100%;
  font-size: 16px;
  color: var(--text-color);
  letter-spacing: 0.2px;
  position: relative;

  &::after {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
    pointer-events: none;
    background-color: var(--background-color);
    opacity: 0.2;
  }
}

.text-inverse {
  color: var(--text-color-inverse);
}

.expand {
  width: 100%;
  flex-grow: 1;
}

html, body {
  height: 100%;
}

.text-active {
  color: var(--active-color);
}

.text-muted {
  color: var(--secondary-color);
}

.text-cursive {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

$indents: 1 2 3 4 5 6 7 8 9 10;
@each $indent in $indents {
  .indent-#{$indent} {
    padding-left: #{$indent * 10}px;
  }
}

.table {

  .total {
    font-weight: 700;
    font-size: 1.2em;
  }

  .recipe-row {
    font-weight: 700;
  }

}


a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}


video {
  max-width: 100%;
}
