@import "@ng-select/ng-select/themes/default.theme.css";

:root {

  --text-color: #2c2c2c;
  --focus-shadow: 0 0 0 2px var(--active-color);
  --active-color: #ff7e67;
  --control-bg: #fafafa;
  --control-bg-selected: #c4e2ea;
  --placeholder: var(--text-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fff8fa;
  height: 100%;
  font-size: 16px;
  color: var(--text-color);
}


.expand {
  width: 100%;
  flex-grow: 1;
}

html, body {
  height: 100%;
}

.text-active {
  color: var(--active-color);
}


.text-bold {
  font-weight: bold;
}

$indents: 1 2 3 4 5 6 7 8 9 10;
@each $indent in $indents {
  .indent-#{$indent} {
    padding-left: #{$indent * 10}px;
  }
}

.table {

  .total {
    font-weight: 700;
    font-size: 1.2em;
  }

  .recipe-row {
    font-weight: 700;
  }

}


a {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}
