@use '@angular/material' as mat;
@import "@ng-select/ng-select/themes/default.theme.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  // MAIN PALETTE
  --p-1: #070F03;
  --p-2: #F9F0E8;
  --p-3: #EF4529;
  --p-4: #F6B0DB;
  --p-5: #02B170;
  --p-6: #D6FF65;

  // EXTENDED PALETTE
  --danger-color: #ff4d4f;
  --warning-color: #faad14;
  --info-color: #1890ff;
  --success-color: #4caf50;

  --secondary-color: #928785;
  --secondary-light-color: #f9f9f9;

  // MAIN
  --text-font: 'Rubik', "Helvetica Neue", system-ui, Arial, sans-serif;
  --text-font-weight: 400;
  --container-width: 1180px;
  --header-height: 51px;
  --bounce-bezier: cubic-bezier(.47, 1.64, .41, .8);

  --body-color: var(--p-4);
  --background-color: var(--p-2);
  --text-color: var(--p-1);

  --active-color: var(--p-5);
  --accent-color: var(--p-3);

  // BUTTONS
  --button-default-bg: var(--p-1);
  --button-default-text: var(--p-2);

  --button-solid-bg: var(--p-1);
  --button-solid-text: var(--p-2);

  --button-primary-bg: var(--p-3);
  --button-primary-text: var(--p-2);

  --button-secondary-bg: var(--secondary-light-color);
  --button-secondary-dark-bg: var(--secondary-color);

  --button-success-bg: var(--success-color);
  --button-danger-bg: var(--danger-color);

  //
  --header-active-bg: var(--p-1);

  // ONBOARDING
  --onboarding-text: var(--p-1);
  --onboarding-bg: var(--secondary-light-color);
  --onboarding-success-bg: var(--p-4);

  // TABS
  --tabs-labels-bg: var(--p-3);
  --tabs-label-bg:var(--secondary-light-color);
  --tabs-label-active-bg: var(--p-1);
  --tabs-label-active-text: var(--p-2);
  --tabs-label-flat-text: var(--p-1);

  --tabs-label-hover-bg: #f0f0f0;
  --tabs-label-focus: #007bff;
  --tabs-body-bg: #fff;

  // CONTROLS

  --control-bg: var(--secondary-light-color);
  --control-bg-selected: #c4e2ea;

  // OTHER

  --text-color-inverse: #f5f5f5;
  --accent-sahde-color: #eed2f0;
  --placeholder: #7a7c89;
  --card-bg: #fff;

  --ingredient-product-bg: rgb(108, 190, 108);
  --ingredient-recipe-bg: rgb(105, 185, 255);

  --accent-light-color: #d0e4b7;

  --focus-shadow: 0 0 0 2px var(--active-color);
  --button-success-text: #fff8fa;
  --button-danger-text: #fff8fa;
  --button-warning-bg: #ec7b1c;
  --button-info-bg: #2531c2;
  --button-flat-overlay: rgba(0, 0, 0, 0.3);
  --button-transcluent-bg: rgba(255, 255, 255, 0.5);
  --chip-default-bg: #007bff;
  --range-track-bg: #ddd;
  --range-tick-color: #666;
  --card-list-checkbox-bg: #abc2ff;
  --card-list-bg: #ffffff;
  --text-success: #4caf50;
  --text-danger: #f44336;
  --text-info: #2196f3;
  --card-bg-draft: #bee5ff;
  --category-orange: #e67e22;
  --category-purple: #8e44ad;
  --category-blue: #3498db;
  --category-green: #2fab9c;
  --category-red: #ff6b6b;
  --category-indigo: #7f81fb;
  --category-light-blue: #7fc3fb;
  --category-light-green: #7fdb7f;
  --overlay-bg: rgba(255, 255, 255, 0.7);
  --overlay-bg-strong: rgba(255, 255, 255, 0.8);
  --overlay-bg-dark: rgba(31, 31, 31, 0.7);
  --part-color-1: rgba(248, 157, 150, var(--part-color-opacity, 0.5));
  --part-color-2: rgba(108, 190, 108, var(--part-color-opacity, 0.5));
  --part-color-3: rgba(198, 213, 255, var(--part-color-opacity, 0.5));
  --hr-bg: #fafafa;
  --hr-bg-strong: #ffffff;
  --hr-bg-draft: #bee5ff;
  --success-bg: #e5f4e3;
  --success-border: #8ca68c;
  --danger-bg: #fff4f4;
  --danger-border: #ffbaba;
  --info-bg: #dceaff;
  --info-border: #008ad8;
  --border-light: #f5f5f5;
  --border-table: #efefef;
  --tooltip-bg: #ffffff;
  --tooltip-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --dropdown-bg: #f9f9f9;
  --dropdown-bg-alt: #f1f1f1;
  --dropdown-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  --product-widget-bg: #fafafa;
  --product-widget-accent: #e5de38;
  --jelly-widget-bg: #fcfcfc;
  --jelly-widget-green: #61b789;
  --jelly-widget-blue: #b4b8f8;
  --jelly-widget-red: #ff8080;
  --chip-blue: #007bff;
  --chip-blue-dark: #0056b3;

  --cookie-noty-bg-color: #f8f9fa;
  --cookie-noty-text-color: #212529;
}


/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter18pt-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter24pt-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

[hidden] {
  display: none !important;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
  font-weight: var(--text-font-weight, 400);
  height: 100%;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
  position: relative;
  background-color: var(--body-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.text-inverse {
  color: var(--text-color-inverse);
}

.expand {
  width: 100%;
  flex-grow: 1;
}

html, body {
  height: 100%;
}

.text-active {
  color: var(--active-color);
}

.text-accent {
  color: var(--accent-color);
}

.text-muted {
  color: var(--secondary-color);
}

.text-cursive {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-small {
  font-size: small;
}

.text-underlined {
  text-decoration: underline;
}

.text-success {
  color: var(--text-success);
}

.text-danger {
  color: var(--text-danger);
}

.text-info {
  color: var(--text-info);
}

.text-wrap {
  white-space: pre-wrap;
}

.text-no-wrap {
  white-space: nowrap;
}

$indents: 1 2 3 4 5 6 7 8 9 10;
@each $indent in $indents {
  .indent-#{$indent} {
    padding-left: #{$indent * 10}px;
  }
}

.no-margin {
  margin: 0 !important;
}

.table {

  .total {
    font-weight: 700;
    font-size: 1.2em;
  }

  .recipe-row {
    font-weight: 700;
  }

}


a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}


video {
  max-width: 100%;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #0a0a0a;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.375rem;

  &--success {
    background: linear-gradient(135deg, #34d399 0%, #10b981 45%, #059669 70%, #22c55e 100%);
  }
}
