<lg-fade-in>
  <lg-container>
    <lg-gap-column>
      <lg-gap-row [center]="true" [mobileMode]="true">
        <lg-title>
          {{ result()?.calculation?.recipe?.name }} cost calculation
        </lg-title>

        <lg-button [flat]="true"
                   [link]="'/recipes/edit/' + result()?.calculation?.recipe?.uuid"
                   [size]="'small'"
                   [style]="'primary'">
          Edit
        </lg-button>
      </lg-gap-row>


      @if (result()?.calculation?.totalPrice) {
        <lg-gap-row [center]="true" [mobileMode]="true" style="max-width: 1200px" lgExpand>
          <lg-gap-column [position]="'stretch'">
            <lg-card size="small">
              <lg-gap-row [size]="'small'" [relaxed]="true">
                <div>
                  Calculation
                  outcome
                </div>

                <b>
                  {{ outcome_amount() }}
                  {{ result()?.calculation?.recipe?.outcome_unit }}
                </b>
              </lg-gap-row>

            </lg-card>

            <lg-card size="small">
              <lg-gap-row [size]="'small'" [relaxed]="true">
                <div>
                  One <b>
                  {{ result()?.calculation?.recipe?.outcome_unit }}
                </b>
                </div>

                <b>
                  @if (notInGrams()) {
                    <ng-container *ngTemplateOutlet="totalAmount"></ng-container>
                  } @else {
                    <ng-container *ngTemplateOutlet="perGramAmount"></ng-container>
                  }
                  <!--                    (-->
                  <!--                    <ng-container *ngTemplateOutlet="rawAmount"></ng-container>-->
                  <!--                    +-->
                  <!--                    <ng-container *ngTemplateOutlet="taxAmount"></ng-container>-->
                  <!--                    of taxes and fees)-->
                </b>
              </lg-gap-row>
            </lg-card>

            <lg-card size="small">
              <lg-gap-row [size]="'small'" [relaxed]="true">
                <div>
                  Total price
                </div>

                <b>
                  {{ result()?.calculation?.totalPrice | number: '1.2-2' }}
                </b>
              </lg-gap-row>
            </lg-card>

            <lg-card size="small">
              <lg-gap-row [size]="'small'" [relaxed]="true">
                <div>
                  Total price with taxes
                </div>

                <b>
                  {{ ((result()?.calculation?.totalPrice || 0) + totalTaxes()) | number: '1.2-2' }}
                </b>
              </lg-gap-row>
            </lg-card>
          </lg-gap-column>

          <lg-card lgWidth="270px" size="small">
            <lg-gap-column [size]="'small'" >
              <lg-title [level]="5">
                Price breakdown
              </lg-title>

              <canvas [data]="doughnutChartData().prices"
                      [options]="doughnutChartOptions"
                      [type]="doughnutChartType"
                      (chartHover)="onChartHover('price', $event.event, $event.active)"
                      #priceChart
                      baseChart>
              </canvas>
            </lg-gap-column>
          </lg-card>

          <lg-card lgWidth="270px" size="small">
            <lg-gap-column [size]="'small'" >
              <lg-title [level]="5">
                Weight breakdown
              </lg-title>

              <canvas [data]="doughnutChartData().weight"
                      [options]="doughnutChartOptions"
                      (chartHover)="onChartHover('weight', $event.event, $event.active)"
                      [type]="doughnutChartType"
                      #weightChart
                      baseChart>
              </canvas>
            </lg-gap-column>
          </lg-card>
        </lg-gap-row>
      }

      <ng-template #taxAmount>
        @if (notInGrams()) {
          {{ totalTaxes() / showedOutcome() | number: '1.2-2' }}
        } @else {
          {{ totalTaxes() | number: '1.2-2' }}
        }
      </ng-template>

      <ng-template #rawAmount>
        @if (notInGrams()) {
          {{ (result()?.calculation?.totalPrice || 1) / (showedOutcome() || 1) | number: '1.2-2' }}
        } @else {
          {{ result()?.calculation?.totalPrice | number: '1.2-2' }}
        }
      </ng-template>

      <ng-template #totalAmount>
        @if (notInGrams()) {
          {{ ((result()?.calculation?.totalPrice || 1) + totalTaxes()) / (showedOutcome() || 1) | number: '1.2-2' }}
        } @else {
          {{ (result()?.calculation?.totalPrice || 1) + totalTaxes() | number: '1.2-2' }}
        }
      </ng-template>

      <ng-template #perGramAmount>
        @if (notInGrams()) {
        } @else {
          {{ ((result()?.calculation?.totalPrice || 1) + totalTaxes()) / outcome_amount() | number: '1.2-5' }}
        }
      </ng-template>

      <lg-table-card>
        @if (result()) {
          <table>
            <colgroup>
              <col span="1" style="width: 1%;">
              <col span="1" style="width: 20%;">
              <col span="1" style="width: 5%;">
              <col span="1" style="width: 3%;">
              <col span="1" style="width: 5%;">
              <col span="1" style="width: 7%;">
            </colgroup>
            <thead>

            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Amount</th>
              <th>Unit</th>
              <th>Price per unit</th>
              <th>Total</th>
            </tr>
            </thead>

            <tbody>
              @for (row of result()?.table;track $index;let i = $index) {
                <tr [ngClass]="row.type">
                  <td>{{ i + 1 }}</td>

                  <td>
                    <div [ngClass]="'indent-' + row.indent">
                      @if (row.type !== 'total') {
                        <a [routerLink]="[row.type === 'recipe-row' ? '/recipes/edit/' : '/products/edit/', row.uuid]">
                          {{ row.name }}
                        </a>
                      } @else {
                        {{ row.name }}
                      }
                    </div>
                  </td>

                  <td>{{ row.amount | number: '1.0-2' }}</td>

                  <td>{{ row.unit }}</td>

                  <td>{{ row.price_per_gram | number: '1.2-5' }}</td>

                  <td>{{ row.total | number: '1.2-5' }}</td>
                </tr>
              }
            </tbody>
          </table>
        } @else {
          <div>Loading...</div>
        }
      </lg-table-card>

      <lg-gap-row [center]="true" [mobileMode]="true">
        <lg-title>
          Taxes and fees
        </lg-title>

        @if (canSaveDefaultTemplate()) {
          <lg-button (click)="saveDefaultTaxTemplate()"
                     [flat]="true"
                     [size]="'small'"
                     [style]="'primary'">
            Save as default template
          </lg-button>
        }

        @if (canApplyTemplates()) {
          <lg-gap-row [center]="true">
            @if (!taxTemplateForm.showed()) {
              <lg-button (click)="taxTemplateForm.show()"
                         [flat]="true"
                         [size]="'small'"
                         [style]="'warning'">
                Apply template
              </lg-button>
            }

            <lg-view-show #taxTemplateForm>
              <lg-gap-row [center]="true" [size]="'small'">
                <lg-multiselect [(ngModel)]="taxTemplateToApply"
                                [autoLoad]="true"
                                [resource]="'taxTemplates'"></lg-multiselect>

                <lg-button (click)="loadTaxTemplate()"
                           [flat]="true"
                           [size]="'small'"
                           [style]="'primary'">
                  Apply
                </lg-button>
              </lg-gap-row>
            </lg-view-show>
          </lg-gap-row>
        }
      </lg-gap-row>

      <lg-taxes-and-fees-list (taxesChanged)="onTaxesChanged($event)"
                              (totalTaxesChanged)="onTotalTaxesChanged($event)"
                              [rows]="taxRows()"
                              [total]="result()?.calculation?.totalPrice ?? 0"></lg-taxes-and-fees-list>
    </lg-gap-column>
  </lg-container>
</lg-fade-in>
