@if (form) {
  <form [formGroup]="form">
    <lg-flex-column>
      <lg-card>
        <lg-flex-column [position]="'start'">
          <lg-control [label]="'recipe.form.name.placeholder'|translate"
                      lgExpand>
            <lg-input #nameField
                      formControlName="name"
                      name="name"
                      placeholder=""></lg-input>
          </lg-control>

          <lg-control [label]="'recipe.form.description.placeholder'|translate"
                      lgExpand>
            <lg-control-box lgExpand
                            style="--control-box-bg: var(--control-bg)">
              <lg-html-editor [placeholder]="''"
                              formControlName="description"
                              name="description"></lg-html-editor>

            </lg-control-box>
          </lg-control>
        </lg-flex-column>
      </lg-card>
      <lg-card>

        <lg-flex-column [position]="'start'">
          <lg-control [label]="'recipe.form.outcome_amount.placeholder'|translate"
                      lgExpand>
            <lg-number-input #amount
                             formControlName="portions"
                             lgParseMath
                             name="portions"
                             placeholder=""></lg-number-input>
          </lg-control>

          <lg-control-group label="{{ 'recipe.form.ingredients.label'|translate }}" lgExpand>
            <lg-flex-column [position]="'start'">
              <lg-flex-column [size]="'medium'"
                              formArrayName="ingredients"
                              lgExpand>
                @for (control of ingredients.controls; track (control.value.amount + i + 1); let i = $index,
                  last = $last) {
                  <ng-container [formGroupName]="i">
                    <lg-expiration-badge [expirationDate]="form.value.ingredients?.[i]?.product_id?.expirationDate"
                                         [label]="true"
                                         size="14"></lg-expiration-badge>

                    <lg-flex-row [attr.data-u2e]="'ingredient-row.' + i"
                                 [bottom]="true"
                                 [mobileMode]="true"
                                 size="medium">
                      <lg-entity-item-selector
                        [lgProductExpiration]="form.value.ingredients?.[i]?.product_id?.expirationDate"
                        formControlName="active_tab"
                        lgExpand>
                        <lg-multiselect
                          (onSelected)="onIngredientSelected(amount, i, ['product_id', 'new_product_name'])"
                          [autoLoad]="true"
                          [placeholder]="'recipe.form.ingredients.recipe_id.label' | translate"
                          [resource]="'recipes'"
                          appendTo="body"
                          formControlName="recipe_id"
                          name="recipe_id"
                          ngProjectAs="recipes"></lg-multiselect>

                        <lg-multiselect
                          (onSelected)="onIngredientSelected(amount, i, ['recipe_id', 'new_product_name'])"
                          [autoLoad]="true"
                          [labelFactory]="productLabelFactory"
                          [optionFactory]="productLabelFactory"
                          [placeholder]="'recipe.form.ingredients.product_id.label' | translate"
                          [resource]="'products'"
                          appendTo="body"
                          formControlName="product_id"
                          name="product_id"
                          ngProjectAs="products">
                          <ng-template let-item lgControlTpl type="label">
                            {{ productLabelFactory(item) }}
                            @let price = item.pricePerUnit;
                            @if (price) {
                              -
                              <lg-price-per-unit [price]="price"
                                                 [unit]="item?.unit"></lg-price-per-unit>
                            }
                          </ng-template>
                          <ng-template let-item lgControlTpl type="option">
                            {{ productLabelFactory(item) }}
                            @let price = item.pricePerUnit;
                            @if (price) {
                              -
                              <lg-price-per-unit [price]="price"
                                                 [unit]="item?.unit"></lg-price-per-unit>
                            }
                          </ng-template>
                        </lg-multiselect>

                        <lg-input (onInputChanged)="onIngredientSelected(amount, i, ['product_id', 'recipe_id'])"
                                  [placeholder]="'recipe.form.ingredients.new_product_name.label' | translate"
                                  formControlName="new_product_name"
                                  ngProjectAs="custom"></lg-input>

                        <div ngProjectAs="custom-title">
                          <mat-icon [inline]="true"
                                    aria-hidden="false"
                                    fontIcon="add"></mat-icon>
                        </div>
                      </lg-entity-item-selector>

                      <lg-number-input #amount
                                       (onKeydown)="addLast()"
                                       [placeholder]="'recipe.form.ingredients.amount.placeholder'|translate:{unit:('unit.long.'+(form.value.ingredients?.[i]?.unit || UnitValue.GRAM)|translate)}"
                                       formControlName="amount"
                                       lgParseMath
                                       lgWidth="40%"
                                       name="amount">
                        <ng-template lgExtraTpl place="after">
                          <lg-unit-switcher formControlName="unit">
                          </lg-unit-switcher>
                        </ng-template>
                      </lg-number-input>

                      <div>
                        <lg-button (click)="deleteIngredient(i)"
                                   [flat]="true"
                                   [icon]="true"
                                   [style]="'danger'"
                                   data-u2e="delete-ingredient-btn">
                          <mat-icon aria-hidden="false" fontIcon="close"></mat-icon>
                        </lg-button>
                      </div>

                    </lg-flex-row>
                    @if (!last) {
                      <hr color="#fafafa" lgExpand size="2"/>
                    }
                  </ng-container>
                }
              </lg-flex-column>

              <lg-button (click)="addIngredient()"
                         [outlined]="true"
                         [size]="'small'"
                         data-u2e="add-ingredient-btn">
                <mat-icon [inline]="true"
                          aria-hidden="false"
                          fontIcon="add"></mat-icon>
                {{ 'recipe.form.ingredients.add-btn'|translate }}
              </lg-button>
            </lg-flex-column>
          </lg-control-group>
        </lg-flex-column>
      </lg-card>

      <lg-flex-row [mobileMode]="true">
        <lg-control-box lgSelfStart lgWidth="50%" style="--control-box-bg: var(--hr-bg-strong)">
          <lg-switch formControlName="master"
                     name="chunk-master-switch">
            <span class="text-center" slot="left">{{ 'recipe.form.chunk.label' | translate }}</span>
            <span class="text-center" slot="right">{{ 'recipe.form.master.label' | translate }}</span>
          </lg-switch>
          <lg-question [text]="'recipe.form.master.info' | translate"></lg-question>
        </lg-control-box>
      </lg-flex-row>

      @if (editMode() && uuid()) {
        <lg-recipe-used-in [recipeUuid]="uuid()!"></lg-recipe-used-in>
      }

      <lg-flex-row [equal]="true" [mobileMode]="true" style="--control-bg: var(--hr-bg-strong)">
        <lg-control [label]="'recipe.form.tags.placeholder'|translate">
          <lg-tags-control [multi]="true"
                           [resource]="'tags'"
                           formControlName="tags"
                           name="tags"></lg-tags-control>
        </lg-control>

        <lg-control [label]="'recipe.form.category.placeholder'|translate">
          <lg-flex-column [position]="'start'" [size]="'medium'">
            <lg-multiselect #categorySelect
                            [resource]="'recipes-categories'"
                            appendTo="body"
                            formControlName="category_id"
                            lgExpand
                            name="category_id">
            </lg-multiselect>

            @if (topCategories().length) {
              <lg-chips-list [control]="categorySelect"
                             [items]="topCategories()"
                             name="topCategoriesChips"></lg-chips-list>
            }
          </lg-flex-column>
        </lg-control>
      </lg-flex-row>
    </lg-flex-column>
  </form>
}
