<lg-fade-in>
  <lg-container>
    <lg-title>{{ 'main.title' | translate }}</lg-title>

    @if (!isOnboardingComplete()) {
      <lg-card>
        <lg-onboarding></lg-onboarding>
      </lg-card>
    }

    <lg-flex-row [mobileMode]="true"
                 [top]="true"
                 [wrap]="true"
                 cols="2">
      @if (recipes|async) {
        <lg-card>
          <lg-last-edited-recipes></lg-last-edited-recipes>
        </lg-card>
      }

      @if (products|async) {
        <lg-card>
          <lg-last-edited-products></lg-last-edited-products>
        </lg-card>
      }
    </lg-flex-row>
  </lg-container>
</lg-fade-in>
