<lg-gap-column [size]="'medium'">
  <lg-title>
    📷 Scan barcode or enter manually
  </lg-title>

  <lg-gap-row [top]="true">
    @if (showScanner()) {

      <video id="video"></video>
      <lg-gap-column>
        <lg-gap-row lgExpand>
          <lg-input [(ngModel)]="barcode"
                    [placeholder]="'Barcode'"
                    lgExpand
                    lgParseMath></lg-input>

          <lg-button (click)="onBarcodeManualInput()">Search</lg-button>

          <lg-button (click)="clear()">Clear</lg-button>
        </lg-gap-row>


        @if (showProductForm() && productResult()) {
          <lg-gap-column [size]="'medium'">
            <lg-control [label]="'Name'">
              <lg-input [(ngModel)]="product.name"
                        [placeholder]="'Name'"
                        lgExpand
                        lgParseMath></lg-input>
            </lg-control>
            <lg-control [label]="'Amount'">
              <lg-number-input [(ngModel)]="product.amount"
                               [placeholder]="'Amount'"
                               lgExpand
                               lgParseMath></lg-number-input>
            </lg-control>

            <lg-control [label]="'Price'">
              <lg-number-input [(ngModel)]="product.price"
                               [placeholder]="'Price'"
                               lgExpand
                               lgParseMath></lg-number-input>
              <div>{{ product.unit }}</div>
            </lg-control>

            <lg-button lgShrink (click)="addProduct()">Add product</lg-button>
          </lg-gap-column>
        }
      </lg-gap-column>
    } @else {
      <lg-button (click)="openScanner()">Scan</lg-button>
    }

  </lg-gap-row>
</lg-gap-column>
