<lg-fade-in>
  <lg-container>
    <lg-gap-row [center]="true">
      <lg-title>Settings</lg-title>
    </lg-gap-row>

    <lg-gap-row>
      <a lgExpand routerLink="/settings/categories/products" routerLinkActive="active">
        <lg-card [center]="true">
          Products categories
        </lg-card>
      </a>

      <a lgExpand routerLink="/settings/categories/recipes" routerLinkActive="active">
        <lg-card [center]="true">
          Recipes categories
        </lg-card>
      </a>
    </lg-gap-row>
  </lg-container>
</lg-fade-in>

