<lg-fade-in>
  <lg-container>
    <lg-title>Settings 1</lg-title>

    <lg-title [level]="3">Categories</lg-title>

    <lg-gap-row [mobileMode]="true" [top]="true">
      <a lgExpand routerLink="/settings/categories/products" routerLinkActive="active">
        <lg-card [center]="true">
          Products categories
        </lg-card>
      </a>

      <a lgExpand routerLink="/settings/categories/recipes" routerLinkActive="active">
        <lg-card [center]="true">
          Recipes categories
        </lg-card>
      </a>
    </lg-gap-row>

    <lg-title [level]="3">Backup</lg-title>

    <lg-gap-column>
      <lg-gap-row [mobileMode]="true" [center]="true">
        <lg-button (click)="onBackup()"
                   [style]="'success'">
          Make backup
        </lg-button>

        @if (transferDataService.currenBackupDate) {
          Last backup: {{ transferDataService.currenBackupDate | timeAgo }}
        }
      </lg-gap-row>


      <lg-upload (filesSelected)="onRestore($event)" [accept]="'.json'">
        <lg-card style="--card-bg:#e78888">
          <lg-gap-column [position]="'center'">
           <span class="text-center text-inverse">
             Be aware! <br>
             This will override all your data!
           </span>
            <lg-button [style]="'danger'">
              Restore backup
            </lg-button>
          </lg-gap-column>
        </lg-card>
      </lg-upload>
    </lg-gap-column>
  </lg-container>
</lg-fade-in>

