<lg-fade-in>
  <lg-container>
    <lg-title>{{ 'settings.title'|translate }}</lg-title>

    <lg-tabs>
      <ng-template label="{{ 'language.settings-title'|translate }}" lgTab>
        <lg-language-settings></lg-language-settings>
      </ng-template>

      <ng-template label="{{ 'categories.settings-title'|translate }}" lgTab>
        <lg-gap-row [mobileMode]="true" [top]="true">
          <a lgExpand routerLink="/settings/categories/products" routerLinkActive="active">
            {{ 'categories.products.link-label'|translate }}
          </a>

          <a lgExpand routerLink="/settings/categories/recipes" routerLinkActive="active">
            {{ 'categories.recipes.link-label'|translate }}
          </a>
        </lg-gap-row>
      </ng-template>

      <ng-template label="{{ 'taxes.settings-title'|translate }}" lgTab>
        <a lgExpand routerLink="/settings/taxes" routerLinkActive="active">
          {{ 'taxes.link-label'|translate }}
        </a>
      </ng-template>

      <ng-template label="{{ 'backup.settings-title'|translate }}" lgTab>
        <lg-backup-settings></lg-backup-settings>
      </ng-template>
    </lg-tabs>

  </lg-container>
</lg-fade-in>

