:host {
  display: flex;
  width: 100%;
}


.lg-controls-table {
  overflow-x: auto;
  border-radius: 32px;
  background-color: #FBFBFB;
}


.lg-checkbox {
  --control-bg: #abc2ff;
  --control-bg-selected: #abc2ff;
}

.lg-controls-table__inner {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 16px 0;
  border-radius: 16px;
  background-color: #F6F6F6;
  gap: 16px;
}

.lg-controls-table__item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.lg-controls-table__item__inner {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.lg-controls-table__item.colored {
  //background-color: #f6f6f6
}

.lg-controls-table__header {
  display: flex;
  padding: 24px 24px 16px;
  justify-content: space-between;
  font-size: 13px;
  color: #6B6B6B;
  font-weight: 500;
}

.lg-controls-table__header div {
  flex: 1;
  display: flex;
}
