@defer {
  @if (editMode()) {
    <lg-controls-bar size="small">
      <lg-button [icon]="true"
                 [label]="'recipe.form.add-new-btn'|translate"
                 [link]="'/recipes/add'"
                 [size]="'small'"
                 [style]="'primary'"
                 data-u2e="recipe.form.add-new-btn">
        <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
      </lg-button>
    </lg-controls-bar>
  }

  <lg-fade-in>
    <lg-container [formGroup]="form">
      <lg-flex-column size="medium">
        <lg-draft-status type="recipe"
                         [draft]="draftRef() ?? null"
                         [originalUuid]="recipe()?.uuid"></lg-draft-status>

        @if (addedRecipeInformerUUID(); as uuid) {
          <p>
            {{ 'recipe.added-informer' | translate }} <a
            routerLink="/recipes/edit/{{ uuid }}">{{ 'recipe.added-informer.link' | translate }}</a>
          </p>
        }

        <lg-flex-row [center]="true">
          <lg-flex-row [center]="!isMobile()"
                       [mobileMode]="true"
                       size="tiny">
            @if (folder(); as f) {
              <lg-button [flat]="true"
                         [link]="'/recipes/folder/' + f.uuid"
                         [size]="'small'"
                         [style]="'default'"
                         data-u2e="recipe.form.back-to-folder-btn">
                <mat-icon class="back-to-folder__icon">folder</mat-icon>
                {{ f.name }}
              </lg-button>

              <span [hidden]="isMobile()">/</span>
            }

            @if ((recipe()?.uuid && !draftRef()) || (draftRef() && draftByExistingRecipe())) {
              <lg-title lgSelfStart>
                @if (isDraftRoute()) {
                  <span class="text-muted"
                        data-u2e="recipe.form.title.draft-prefix">{{ 'draft.title-prefix' | translate }}</span>
                }
                {{ recipe()?.name }}
              </lg-title>
            } @else {
              <lg-title lgSelfStart>
                {{ 'recipe.form.title'|translate }}
              </lg-title>
            }
          </lg-flex-row>

          @if (recipe()) {
            <lg-sync-badge [entity]="recipe()!"></lg-sync-badge>
          }
        </lg-flex-row>

        <lg-inline-separated-group>
          @if (draftRef() && form.dirty) {
            <ng-template lgInlineSeparatedGroup>
              <lg-fade-in>
                      <span class="text-success"
                            data-u2e="recipe.form.saved-draft-label">{{ 'saved-draft-label'|translate }}</span>
              </lg-fade-in>
            </ng-template>
          }

          @if (!draftRef() && editMode()) {
            <ng-template lgInlineSeparatedGroup>
              <lg-button [disabled]="!!draftRef()"
                         [flat]="true"
                         [link]="'/recipes/calculate/' + recipe()?.uuid"
                         [style]="'default'"
                         data-u2e="recipe.form.calculate-btn">
                {{ 'recipe.calculate-btn'|translate }}
              </lg-button>
            </ng-template>

            <ng-template lgInlineSeparatedGroup>
              <lg-button (click)="onCloneRecipe()"
                         [flat]="true"
                         [style]="'default'"
                         data-u2e="recipe.form.clone-btn"
                         lgShrink>
                {{ 'recipe.form.clone-btn'|translate }}
              </lg-button>
            </ng-template>

            <ng-template lgInlineSeparatedGroup>
              @if (shareUrl()) {
                <lg-button (click)="onCopyShareUrl()"
                           [flat]="true"
                           [style]="'success'"
                           data-u2e="recipe.form.copy-share-url-btn"
                           lgShrink>
                  {{ 'recipe.form.copy-shared-link-btn'|translate }}
                </lg-button>
              } @else {
                <lg-button (click)="onShareRecipe()"
                           [flat]="true"
                           [style]="'default'"
                           data-u2e="recipe.form.share-btn"
                           lgShrink>
                  {{ 'recipe.form.share-btn'|translate }}
                </lg-button>
              }
            </ng-template>

            <ng-template lgInlineSeparatedGroup>
              <lg-button (click)="onExportRecipe()"
                         [flat]="true"
                         [style]="'default'"
                         data-u2e="recipe.form.export-btn"
                         lgShrink>
                {{ 'export-label'|translate }}
              </lg-button>
            </ng-template>
          }

          @if (isDraftRoute()) {
            <ng-template lgInlineSeparatedGroup>
              <lg-button (click)="onRemoveDraft()"
                         [flat]="true"
                         [style]="'danger'"
                         data-u2e="recipe.form.delete-draft-btn"
                         lgShrink>
                {{ 'recipe.form.delete-draft-btn'|translate }}
              </lg-button>
            </ng-template>
          } @else if (recipe()?.uuid) {
            <ng-template lgInlineSeparatedGroup>
              <lg-button (click)="onDeleteRecipe()"
                         [flat]="true"
                         [style]="'danger'"
                         data-u2e="recipe.form.delete-btn"
                         lgShrink>
                {{ 'recipe.form.delete-btn'|translate }}
              </lg-button>
            </ng-template>
          }
        </lg-inline-separated-group>

        @if (editMode() && recipe()?.updatedAt) {
          <small class="text-muted text-cursive">
            {{ 'edited-at-label'|translate }} {{ recipe()?.updatedAt | timeAgo }}
          </small>
        }
      </lg-flex-column>

      <lg-add-recipe-form [editMode]="editMode()"
                          [recipe]="recipe()"></lg-add-recipe-form>

      <lg-flex-row [mobileMode]="true" [relaxed]="true">
        @if ((recipe()?.uuid && !draftRef()) || (draftRef() && draftByExistingRecipe())) {
          <lg-button (click)="onEditRecipe()"
                     [disabled]="!form.dirty && !draftRef()"
                     [style]="'primary'"
                     data-u2e="recipe.form.save-btn.edit"
                     lgShrink>
            @if (form.dirty || draftRef()) {
              {{ 'recipe.form.save-btn.edit.active'|translate }}
            } @else {
              {{ 'recipe.form.save-btn.edit.disabled'|translate }}
            }
          </lg-button>
        } @else {
          <lg-button (click)="onAddRecipe()"
                     [disabled]="!form.dirty && !draftRef() && !sharedRecipe()"
                     [style]="'primary'"
                     data-u2e="recipe.form.save-btn.add"
                     lgShrink>
            @if (form.dirty || draftRef()) {
              {{ 'recipe.form.save-btn.add.active'|translate }}
            } @else if (sharedRecipe()) {
              {{ 'recipe.form.save-btn.add.shared'|translate }}
            } @else {
              {{ 'recipe.form.save-btn.add.disabled'|translate }}
            }
          </lg-button>
        }
      </lg-flex-row>
    </lg-container>
  </lg-fade-in>

  <lg-confirmation-popover></lg-confirmation-popover>
} @error {
  {{ 'add-recipe.defer-load-error' | translate }}
}
