<form [formGroup]="form">
  <lg-flex-column>
    <lg-card>
      <lg-flex-column [position]="'start'">
        <lg-control [label]="'recipe.form.name.placeholder'|translate"
                    lgExpand>
          <lg-autocomplete #nameField
                           [key]="'name'"
                           [resource]="'recipes-names'"
                           appendTo="body"
                           formControlName="name"
                           placeholdeк=""
          ></lg-autocomplete>
        </lg-control>

        <lg-control [label]="'recipe.form.description.placeholder'|translate"
                    lgExpand>
          <lg-textarea formControlName="description"
                       lgExpand
                       placeholder=""></lg-textarea>

        </lg-control>
      </lg-flex-column>
    </lg-card>
    <lg-card>

      <lg-flex-column [position]="'start'">
        <lg-control [label]="'recipe.form.outcome_amount.placeholder'|translate"
                    lgExpand>
          <lg-number-input #amount
                           formControlName="outcome_amount"
                           lgParseMath
                           placeholder="">
            <ng-template lgExtraTpl place="after">
              <lg-unit-switcher formControlName="outcome_unit">
              </lg-unit-switcher>
            </ng-template>
          </lg-number-input>
        </lg-control>

        <lg-control-group label="{{ 'recipe.form.ingredients.label'|translate }}" lgExpand>
          <lg-flex-column [position]="'start'">
            <lg-flex-column [size]="'medium'" formArrayName="ingredients" lgExpand>
              @for (control of ingredients.controls; track (control.value.amount + i + 1); let i = $index,
                last = $last) {
                <ng-container [formGroupName]="i">
                  <lg-controls-row [mobileMode]="true">
                    <lg-flex-column [size]="'small'">

                      <ng-container ngProjectAs="labelTpl">
                        <lg-button (click)="closeRecipeField(i)"
                                   [flat]="true"
                                   [size]="'small'"
                                   [active]="!recipeFieldState()[i]">
                          {{ 'recipe.form.ingredients.product_id.label'|translate }}
                        </lg-button>
                      </ng-container>

                      <ng-container ngProjectAs="afterLabelTpl">
                        <lg-button (click)="openRecipeField(i)"
                                   [flat]="true"
                                   [size]="'small'"
                                   [active]="recipeFieldState()[i]">
                          {{ 'recipe.form.ingredients.recipe_id.label'|translate }}
                        </lg-button>
                      </ng-container>

                      @if (recipeFieldState()[i]) {
                        <lg-multiselect [resource]="'recipes'"
                                        (onSelected)="onIngredientSelected(amount, i, ['product_id', 'name'])"
                                        [autoLoad]="true"
                                        appendTo="body"
                                        formControlName="recipe_id"></lg-multiselect>
                      } @else {
                        <lg-multiselect [resource]="'products'"
                                        (onSelected)="onIngredientSelected(amount, i, ['recipe_id', 'name'])"
                                        [autoLoad]="true"
                                        #productsSelector
                                        appendTo="body"
                                        formControlName="product_id">
                        </lg-multiselect>
                      }
                    </lg-flex-column>

                    <lg-number-input #amount
                                     lgParseMath
                                     (onKeydown)="addLast()"
                                     [placeholder]="'recipe.form.ingredients.amount.placeholder'|translate:{unit:(form.value.ingredients?.[i]?.unit || UnitValue.GRAM)}"
                                     formControlName="amount">
                      <ng-template lgExtraTpl place="after">
                        <lg-unit-switcher formControlName="unit">
                        </lg-unit-switcher>
                      </ng-template>
                    </lg-number-input>

                    <ng-container ngProjectAs="rowActions">
                      <lg-button [style]="'danger'"
                                 [size]="'tiny'"
                                 [icon]="true"
                                 (click)="deleteIngredient(i)">
                        <mat-icon aria-hidden="false" fontIcon="close"></mat-icon>
                      </lg-button>
                    </ng-container>
                  </lg-controls-row>
                  @if (!last) {
                    <hr size="2" lgExpand color="#fafafa"/>
                  }
                </ng-container>
              }
            </lg-flex-column>

            <lg-button (click)="addIngredient()"
                       [size]="'small'"
                       [style]="'primary'">
              {{ 'recipe.form.ingredients.add-btn'|translate }}
            </lg-button>
          </lg-flex-column>
        </lg-control-group>
      </lg-flex-column>
    </lg-card>

    <lg-flex-row [equal]="true" [mobileMode]="true" style="--control-bg: var(--hr-bg-strong)">
      <lg-control [label]="'recipe.form.tags.placeholder'|translate">
        <lg-tags-control [multi]="true"
                         [resource]="'tags'"
                         formControlName="tags"></lg-tags-control>
      </lg-control>

      <lg-control [label]="'recipe.form.category.placeholder'|translate">
        <lg-flex-column [position]="'start'" [size]="'medium'">
          <lg-multiselect #categorySelect
                          [resource]="'recipes-categories'"
                          appendTo="body"
                          formControlName="category_id"
                          lgExpand>
          </lg-multiselect>

          @if (topCategories().length) {
            <lg-chips-list [control]="categorySelect" [items]="topCategories()"></lg-chips-list>
          }
        </lg-flex-column>
      </lg-control>
    </lg-flex-row>
  </lg-flex-column>
</form>
