.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.app-content {
  padding-top: var(--app-content-top-padding);
  padding-bottom: var(--app-content-bottom-padding);
  flex: 100%;
}
