@defer {
  <lg-overlay-actions>
    <lg-pwa-install></lg-pwa-install>
    <lg-last-backup-informer></lg-last-backup-informer>
    <lg-storage-quota-warning></lg-storage-quota-warning>
  </lg-overlay-actions>

  <lg-satisfaction-popup></lg-satisfaction-popup>
  <lg-global-search></lg-global-search>
}

<main [class.app--pwa]="isPwa()"
      [hidden]="!isBrowser"
      class="app">
  <lg-header></lg-header>

  <div class="app-content">
    <router-outlet/>
  </div>

  <div class="app-footer">
    <lg-footer></lg-footer>
  </div>
</main>
