<lg-fade-in>
  <lg-container>
    <lg-gap-column>
      <lg-gap-row [center]="true" [mobileMode]="true">
        <lg-title>
          {{ result()?.calculation?.recipe?.name }} {{ 'recipe.calculation.title.after-text'  | translate }}
        </lg-title>

        <lg-button [flat]="true"
                   [link]="'/recipes/edit/' + result()?.calculation?.recipe?.uuid"
                   [size]="'small'"
                   [style]="'primary'">
          {{ 'edit-label' | translate }}
        </lg-button>
      </lg-gap-row>

      @if (result()?.calculation?.totalPrice) {
        <lg-gap-row [center]="true" [mobileMode]="true" style="max-width: 1200px" lgExpand>
          <lg-gap-column [position]="'stretch'">
            <lg-card size="small">
              <lg-gap-row [size]="'small'" [relaxed]="true">
                <div>{{ 'recipe.calculation.outcome.label' | translate }}</div>

                <b>
                  {{ (outcome_amount() || result()?.calculation?.totalWeight || 0) | number: '1.0-2' }}
                  {{ result()?.calculation?.recipe?.outcome_unit }}
                </b>
              </lg-gap-row>

            </lg-card>

            <lg-gap-column [position]="'stretch'" size="small">
              <lg-card size="small">
                <lg-gap-row [size]="'small'" [relaxed]="true">
                  <div>
                    {{ 'recipe.calculation.one-unit.label' | translate }} <b>
                    {{ result()?.calculation?.recipe?.outcome_unit }}
                  </b>
                  </div>

                  <b>
                    @if (notInGrams()) {
                      <ng-container *ngTemplateOutlet="totalAmount"></ng-container>
                    } @else {
                      <ng-container *ngTemplateOutlet="perGramAmount"></ng-container>
                    }
                  </b>
                </lg-gap-row>
              </lg-card>

              <lg-gap-row [formGroup]="recipePriceAdditionsForm"
                          [size]="'small'"
                          [relaxed]="true" style="--control-bg: #fff;padding: 0 16px">
                <lg-number-input lgParseMath
                                 placeholder="extra price"
                                 formControlName="value">
                  <ng-template lgExtraTpl place="before">
                    <lg-unit-switcher formControlName="action"
                                      [items]="additionalPriceAction">
                    </lg-unit-switcher>
                  </ng-template>

                  @if (showPriceAdditionUnits()) {
                    <ng-template lgExtraTpl place="after">
                      <lg-unit-switcher formControlName="unit"
                                        [items]="additionalPriceUnit">
                      </lg-unit-switcher>
                    </ng-template>
                  }

                  @if (roundActionSelected()) {
                    <ng-template lgExtraTpl place="after">
                      <b>{{ userSettings()['currency']|currencySymbol }}
                        /
                        {{ result()?.calculation?.recipe?.outcome_unit }}
                      </b>
                    </ng-template>
                  }
                </lg-number-input>
              </lg-gap-row>
            </lg-gap-column>

            <lg-card size="small">
              <lg-gap-row [size]="'small'" [relaxed]="true">
                <div>{{ 'recipe.calculation.total-price.label' | translate }}</div>

                <b>
                  {{ result()?.calculation?.totalPrice | userCurrency: '1.2-2' }}

                  @if (result()?.calculation?.totalPriceDifference) {

                    <span class="text-active">
                      > {{ result()?.calculation?.totalPriceWithAdditions |  userCurrency: '1.2-2' }}
                    </span>

                            <span class="text-accent">
                      (+ {{ result()?.calculation?.totalPriceDifference |  userCurrency: '1.2-2' }})
                    </span>
                  }
                </b>
              </lg-gap-row>
            </lg-card>
          </lg-gap-column>

          <lg-card lgWidth="270px" size="small">
            <lg-gap-column [size]="'small'">
              <lg-title [level]="5">
                <div>{{ 'recipe.calculation.price-chart' | translate }}</div>
              </lg-title>

              <canvas [data]="doughnutChartData().prices"
                      [options]="doughnutChartOptions"
                      [type]="doughnutChartType"
                      (chartHover)="onChartHover('price', $event.event, $event.active)"
                      #priceChart
                      baseChart>
              </canvas>
            </lg-gap-column>
          </lg-card>

          <lg-card lgWidth="270px" size="small">
            <lg-gap-column [size]="'small'">
              <lg-title [level]="5">
                <div>{{ 'recipe.calculation.weight-chart' | translate }}</div>
              </lg-title>

              <canvas [data]="doughnutChartData().weight"
                      [options]="doughnutChartOptions"
                      (chartHover)="onChartHover('weight', $event.event, $event.active)"
                      [type]="doughnutChartType"
                      #weightChart
                      baseChart>
              </canvas>
            </lg-gap-column>
          </lg-card>
        </lg-gap-row>
      }


      <ng-template #rawAmount>
        @if (notInGrams()) {
          {{ (result()?.calculation?.totalPrice || 1) / (showedOutcome() || 1) | userCurrency: '1.2-2' }}
        } @else {
          {{ result()?.calculation?.totalPrice | userCurrency: '1.2-2' }}
        }
      </ng-template>

      <ng-template #totalAmount>
        @if (notInGrams()) {
          <span [class.text-small]="result()?.calculation?.totalPriceDifference">
              {{ result()?.calculation?.pricePerOutcomeUnit |  userCurrency: '1.2-2' }}
           </span>
          @if (result()?.calculation?.totalPriceDifference) {
            <span class="text-active">
              > {{ result()?.calculation?.pricePerUnitModified |  userCurrency: '1.2-2' }}
            </span>

            <span class="text-accent">
              (+ {{ result()?.calculation?.pricePerUnitDifference |  userCurrency: '1.2-2' }})
            </span>
          }
          /
          {{ (result()?.calculation?.recipe?.weightForUnit || 1) |  number: '1.0-2' }} gram
        } @else {
          {{ (result()?.calculation?.totalPrice || 1) | userCurrency: '1.2-2' }}
        }
      </ng-template>

      <ng-template #perGramAmount>
        @if (notInGrams()) {
        } @else {
          {{ (result()?.calculation?.totalPrice || 1) / (outcome_amount() || result()?.calculation?.totalWeight || 0) | userCurrency:'1.2-5' }}
        }
      </ng-template>

      <lg-table-card>
        @if (result()) {
          <table>
            <colgroup>
              <col span="1" style="width: 1%;">
              <col span="1" style="width: 20%;">
              <col span="1" style="width: 5%;">
              <col span="1" style="width: 3%;">
              <col span="1" style="width: 5%;">
              <col span="1" style="width: 7%;">
            </colgroup>
            <thead>

            <tr>
              <th>#</th>
              <th>{{ 'recipe.calculation.table.name.title' | translate }}</th>
              <th>{{ 'recipe.calculation.table.amount.title' | translate }}</th>
              <th>{{ 'recipe.calculation.table.unit.title' | translate }}</th>
              <th>{{ 'recipe.calculation.table.price.title' | translate }}</th>
              <th>{{ 'recipe.calculation.table.total.title' | translate }}</th>
            </tr>
            </thead>

            <tbody>
              @for (row of result()?.table;track $index;let i = $index) {
                <tr [ngClass]="row.type">
                  <td>{{ i + 1 }}</td>

                  <td>
                    <div [ngClass]="'indent-' + row.indent">
                      @if (row.type !== 'total') {
                        <a [routerLink]="[row.type === 'recipe-row' ? '/recipes/edit/' : '/products/edit/', row.uuid]">
                          {{ row.name }}
                        </a>
                      } @else {
                        {{ row.name | translate }}
                      }
                    </div>
                  </td>

                  <td>{{ row.amount | number: '1.0-2' }}</td>

                  <td>{{ row.unit }}</td>

                  <td>{{ row.price_per_gram | userCurrency: '1.2-5' }}</td>

                  <td>{{ row.total | userCurrency: '1.0-2' }}</td>
                </tr>
              }
            </tbody>
          </table>
        } @else {
        }
      </lg-table-card>
    </lg-gap-column>
  </lg-container>
</lg-fade-in>
