<lg-fade-in>
  <lg-container>
    <lg-gap-column>
      <lg-gap-row [center]="true" [mobileMode]="true">
        <lg-title>
          {{ result()?.calculation?.recipeName }} {{ 'recipe.calculation.title.after-text'  | translate }}
        </lg-title>

        <lg-button [flat]="true"
                   [link]="'/recipes/edit/' + result()?.calculation?.recipeUuid"
                   [size]="'small'"
                   [style]="'primary'">
          {{ 'edit-label' | translate }}
        </lg-button>
      </lg-gap-row>

      @if (result()?.calculation?.totalPrice) {
        <lg-gap-row [center]="true" [mobileMode]="true" style="max-width: 1200px" lgExpand>
          <lg-gap-column [position]="'stretch'">

            <lg-card size="small">
              <lg-gap-row [size]="'small'" [relaxed]="true">
                <div>{{ 'recipe.calculation.outcome.label' | translate }}</div>

                <b>
                  {{ result()?.calculation?.outcomeAmount | number: '1.0-2' }}
                  {{ result()?.calculation?.outcomeUnit }}
                </b>
              </lg-gap-row>

            </lg-card>


            <lg-gap-column [position]="'stretch'" size="small">
              <lg-card size="small">
                <lg-gap-row [size]="'small'" [relaxed]="true">
                  <div>
                    {{ 'recipe.calculation.one-unit.label' | translate }} <b>
                    {{ result()?.calculation?.outcomeUnit }}
                  </b>
                  </div>

                  <b>
                    @if (notInGrams()) {
                      <ng-container *ngTemplateOutlet="totalAmount"></ng-container>
                    } @else {
                      {{ result()?.calculation?.pricePerUnit | userCurrency:'1.2-5' }}
                    }
                  </b>
                </lg-gap-row>
              </lg-card>


              <lg-gap-row [size]="'small'"
                          [relaxed]="true" style="--control-bg: #fff;padding: 0 16px">
              </lg-gap-row>
            </lg-gap-column>

            <lg-gap-column [position]="'stretch'" size="small">
              <lg-card size="small">
                <lg-gap-row [size]="'small'" [relaxed]="true">
                  <div>{{ 'recipe.calculation.total-price.label' | translate }}</div>

                  <b>
                    {{ totalPrice() | userCurrency: '1.2-2' }}

                    @if (totalPriceDifference()) {
                      @let diff = totalPriceDifference();
                      >
                      <span class="text-underlined">
                      {{ totalPriceWithAdditions() |  userCurrency: '1.2-2' }}
                    </span>

                      <span [ngClass]="diff > 0 ? 'text-success' : 'text-danger'">
                      ({{ diff > 0 ? '+' : '' }} {{ diff |  userCurrency: '1.2-2' }})
                    </span>
                    }
                  </b>
                </lg-gap-row>
              </lg-card>

              <lg-gap-column [position]="'stretch'" size="small" style="--control-bg: #fff;padding: 0 16px">

<!--                <lg-number-input lgParseMath-->
<!--                                 placeholder="amount"-->
<!--                                 [(ngModel)]="recalculateTotalsModel">-->
<!--                  <ng-template lgExtraTpl place="before">-->
<!--                    Recalculate for-->
<!--                  </ng-template>-->

<!--                  &lt;!&ndash;                  @if (roundActionSelected()) {&ndash;&gt;-->
<!--                  &lt;!&ndash;                    <ng-template lgExtraTpl place="after">&ndash;&gt;-->
<!--                  &lt;!&ndash;                      <b>&ndash;&gt;-->
<!--                  &lt;!&ndash;                        {{ result()?.calculation?.outcomeUnit }}&ndash;&gt;-->
<!--                  &lt;!&ndash;                      </b>&ndash;&gt;-->
<!--                  &lt;!&ndash;                    </ng-template>&ndash;&gt;-->
<!--                  &lt;!&ndash;                  }&ndash;&gt;-->
<!--                </lg-number-input>-->

                <div>
                  Price modifiers
                </div>

                <lg-calculation-price-modifiers
                  [formControl]="recipePriceAdditionsForm"
                  [recipeCost]="result()?.calculation"></lg-calculation-price-modifiers>
              </lg-gap-column>
            </lg-gap-column>
          </lg-gap-column>

          <lg-card lgWidth="270px" size="small">
            <lg-gap-column [size]="'small'">
              <lg-title [level]="5">
                <div>{{ 'recipe.calculation.price-chart' | translate }}</div>
              </lg-title>

              <canvas [data]="doughnutChartData().prices"
                      [options]="doughnutChartOptions"
                      [type]="doughnutChartType"
                      (chartHover)="onChartHover('price', $event.event, $event.active)"
                      #priceChart
                      baseChart>
              </canvas>
            </lg-gap-column>
          </lg-card>

          <lg-card lgWidth="270px" size="small">
            <lg-gap-column [size]="'small'">
              <lg-title [level]="5">
                <div>{{ 'recipe.calculation.weight-chart' | translate }}</div>
              </lg-title>

              <canvas [data]="doughnutChartData().weight"
                      [options]="doughnutChartOptions"
                      (chartHover)="onChartHover('weight', $event.event, $event.active)"
                      [type]="doughnutChartType"
                      #weightChart
                      baseChart>
              </canvas>
            </lg-gap-column>
          </lg-card>
        </lg-gap-row>
      }

      <ng-template #totalAmount>
        @if (notInGrams()) {
          {{ result()?.calculation?.pricePerOutcomeUnit |  userCurrency: '1.2-2' }}

          @if (result()?.calculation?.pricePerUnitDifference) {
            @let diff = result()?.calculation?.pricePerUnitDifference ?? 0;
            >
            <span class="text-underlined">
              {{ result()?.calculation?.pricePerUnitModified |  userCurrency: '1.2-2' }}
            </span>

            <span [ngClass]="diff > 0 ? 'text-success' : 'text-danger'">
              ({{ diff > 0 ? '+' : '' }} {{ diff |  userCurrency: '1.2-2' }})
            </span>
          }
          /
          {{ result()?.calculation?.weightForUnit |  number: '1.0-2' }} gram
        } @else {
          {{ result()?.calculation?.totalPrice | userCurrency: '1.2-2' }}
        }
      </ng-template>

      <lg-table-card>
        @if (result()) {
          <table>
            <colgroup>
              <col span="1" style="width: 1%;">
              <col span="1" style="width: 20%;">
              <col span="1" style="width: 5%;">
              <col span="1" style="width: 3%;">
              <col span="1" style="width: 5%;">
              <col span="1" style="width: 7%;">
            </colgroup>
            <thead>

            <tr>
              <th>#</th>
              <th>{{ 'recipe.calculation.table.name.title' | translate }}</th>
              <th>{{ 'recipe.calculation.table.amount.title' | translate }}</th>
              <th>{{ 'recipe.calculation.table.unit.title' | translate }}</th>
              <th>{{ 'recipe.calculation.table.price.title' | translate }}</th>
              <th>{{ 'recipe.calculation.table.total.title' | translate }}</th>
            </tr>
            </thead>

            <tbody>
              @for (row of result()?.table; track $index; let i = $index) {
                <tr [ngClass]="row.type">
                  <td>{{ i + 1 }}</td>

                  <td>
                    <div [ngClass]="'indent-' + row.indent">
                      @if (row.type !== 'total') {
                        <a [routerLink]="[row.type === 'recipe-row' ? '/recipes/edit/' : '/products/edit/', row.uuid]">
                          {{ row.name }}
                        </a>
                      } @else {
                        {{ row.name | translate }}
                      }
                    </div>
                  </td>

                  <td>{{ row.amount | number: '1.0-2' }}</td>

                  <td>{{ row.unit }}</td>

                  <td>{{ row.price_per_gram | userCurrency: '1.2-5' }}</td>

                  <td>{{ row.total | userCurrency: '1.0-2' }}</td>
                </tr>
              }
            </tbody>
          </table>
        } @else {
        }
      </lg-table-card>
    </lg-gap-column>
  </lg-container>
</lg-fade-in>
