<lg-fade-in>
  <lg-container>
    <lg-title>{{ 'main.title' | translate }}</lg-title>

    <lg-gap-row [mobileMode]="true" [top]="true">
      <lg-card>
        @if (recipes|async) {
          <lg-last-edited-recipes></lg-last-edited-recipes>
        } @else {
          <lg-button link="/recipes/add">
            {{ 'main.recipes.button' | translate }}
          </lg-button>
        }
      </lg-card>

      <lg-card>
        @if (products|async) {
          <lg-last-edited-products></lg-last-edited-products>
        } @else {
          <lg-button link="/products/add" [style]="'success'">
            {{ 'main.products.button' | translate }}
          </lg-button>
        }
      </lg-card>
    </lg-gap-row>
  </lg-container>
</lg-fade-in>
