<form [formGroup]="form" style="--control-bg: #fff">
  <lg-gap-column>
    <lg-input #nameField
              [placeholder]="'Just free style optional name. It\'s visible only for you'"
              formControlName="name"></lg-input>

    <lg-gap-row [right]="true" [mobileMode]="true">
      <lg-input formControlName="prefix"
                lgWidth="15%"
                placeholder="Prefix"></lg-input>
      <lg-input formControlName="invoice_number"
                lgWidth="30%"
                placeholder="Number"></lg-input>
    </lg-gap-row>

    <lg-gap-row [relaxed]="true" [mobileMode]="true">
      <lg-credential-field [type]="CredentialsType.system"
                           formControlName="credential_from"
                           lgExpand
                           (selected)="onCredentialSelected($event)"
                           placeholder="From"></lg-credential-field>

      <lg-credential-field [type]="CredentialsType.customer"
                           (selected)="onCredentialSelected($event)"
                           formControlName="credential_to"
                           lgExpand
                           placeholder="To"></lg-credential-field>

      <lg-gap-column lgWidth="30%">
        <lg-date-picker formControlName="date_issued"></lg-date-picker>
        <lg-date-picker formControlName="date_due"></lg-date-picker>
      </lg-gap-column>
    </lg-gap-row>

    <hr color="#fafafa" lgExpand size="2"/>

    <lg-gap-column [position]="'start'" [size]="'medium'">
      <lg-gap-row [equal]="true"
                  [mobileMode]="true"
                  [size]="'medium'"
                  [styles]="{'--lg-gap-row-pad-right': '36px'}"
                  lgExpand>
        <div lgWidth="40%">Item</div>
        <div lgWidth="30%">Amount</div>
        <div lgWidth="15%">Price per unit</div>
        <div lgWidth="15%">Total</div>
      </lg-gap-row>


      <lg-gap-column [size]="'medium'" formArrayName="rows" lgExpand>
        @for (control of rows.controls;track (control.value.amount + i + 1);let i = $index, last = $last) {
          <ng-container [formGroupName]="i">
            @let item = invoiceBuilderService.invoice()?.rows?.[i];
            <lg-controls-row [mobileMode]="true" [equal]="true">
              <lg-invoice-item-selector lgWidth="40%"
                                        (onChanged)="onItemChanged($event, i)"
                                        formControlName="activeTab">
                <lg-multiselect [resource]="'recipes'"
                                [appendTo]="'body'"
                                [placeholder]="'Find recipe'"
                                formControlName="recipe_id"
                                (onSelected)="onRecipeSelected($event, i)"
                                ngProjectAs="recipes"
                                [autoLoad]="true"></lg-multiselect>

                <lg-multiselect [resource]="'products'"
                                (onSelected)="onProductSelected($event, i)"
                                [appendTo]="'body'"
                                formControlName="product_id"
                                [placeholder]="'Find product'"
                                ngProjectAs="products"
                                [autoLoad]="true">
                </lg-multiselect>

                <lg-input ngProjectAs="freeStyle"
                          formControlName="free_name"
                          [placeholder]="'Just type name'"></lg-input>
              </lg-invoice-item-selector>

              <lg-number-input #amount
                               lgParseMath
                               lgWidth="30%"
                               [placeholder]="'0'"
                               formControlName="amount">
                <div ngProjectAs="after">
                  <lg-unit-switcher formControlName="unit">
                  </lg-unit-switcher>
                </div>
              </lg-number-input>

              <lg-readonly-control [placeholder]="'0'"
                                   [value]="item?.pricePerUnit| userCurrency: '1.2-4'"
                                   lgWidth="15%">
              </lg-readonly-control>

              <lg-readonly-control [placeholder]="'0'"
                                   [value]="item?.totalPrice| userCurrency: '1.2-4'"
                                   lgWidth="15%">
              </lg-readonly-control>

              <ng-container ngProjectAs="rowActions">
                <lg-button [style]="'danger'"
                           [size]="'tiny'"
                           [icon]="true"
                           (click)="deleteGood(i)">
                  <mat-icon aria-hidden="false" fontIcon="close"></mat-icon>
                </lg-button>
              </ng-container>
            </lg-controls-row>

            @if (!last) {
              <hr size="2" lgExpand color="#fafafa"/>
            }
          </ng-container>
        }
      </lg-gap-column>

      <lg-button (click)="addGood()"
                 [size]="'small'"
                 [style]="'success'">
        Add item
        <mat-icon [inline]="true"
                  aria-hidden="false"
                  fontIcon="add"></mat-icon>
      </lg-button>
    </lg-gap-column>

    <hr color="#fafafa" lgExpand size="2"/>

    <lg-gap-row [relaxed]="true" [mobileMode]="true">
      <lg-textarea [rows]="2"
                   lgExpand
                   formControlName="notes"
                   placeholder="Notes"></lg-textarea>

      <lg-textarea [rows]="2"
                   lgExpand
                   formControlName="terms"
                   placeholder="Terms"></lg-textarea>
    </lg-gap-row>

    <lg-gap-column position="end" size="small">
      <lg-gap-row [relaxed]="true">
        Subtotal
        <b class="text-right text-bold" lgWidth="200px">
          {{ invoiceBuilderService.invoice()?.total | userCurrency: '1.2-4' }}
        </b>
      </lg-gap-row>

      <lg-gap-row [relaxed]="true">
        Tax
        <b class="text-right text-bold" lgWidth="200px">
          {{ invoiceBuilderService.invoice()?.taxTotal | userCurrency: '1.2-4' }}
        </b>
      </lg-gap-row>

      <lg-gap-row [relaxed]="true">
        <b class="text-right text-bold">Total</b>
        <b class="text-right text-bold" lgWidth="200px">
          {{ invoiceBuilderService.invoice()?.totalWithTax | userCurrency: '1.2-4' }}
        </b>
      </lg-gap-row>
    </lg-gap-column>
  </lg-gap-column>
</form>
