<form [formGroup]="form"
      style="--control-bg: #fff">
  @let invoice = invoiceBuilderService.invoice();
  @let canBeUpdated = invoice?.canBeUpdated;
  <lg-flex-column>
    <lg-control [label]="'invoices.private-name' | translate">
      @if (canBeUpdated) {
        <lg-input #nameField
                  [placeholder]="'invoices.private-name-placeholder' | translate"
                  formControlName="name"></lg-input>
      } @else {
        <lg-readonly-control [placeholder]="''"
                             lgExpand
                             [value]="form.value?.name"></lg-readonly-control>
      }
    </lg-control>

    <lg-flex-row [mobileMode]="true" [relaxed]="true">
      <lg-flex-row [left]="true" [mobileMode]="true" lgExpand>
        <lg-control [label]="'invoices.prefix' | translate"
                    lgWidth="25%">
          @if (canBeUpdated) {
            <lg-input formControlName="prefix"
                      [placeholder]="'invoices.prefix-placeholder' | translate"
            ></lg-input>
          } @else {
            <lg-readonly-control [value]="form.value?.prefix"
                                 [placeholder]="'invoices.prefix-placeholder' | translate">
            </lg-readonly-control>
          }
        </lg-control>

        <lg-control [label]="'invoices.invoice-number' | translate" lgWidth="40%">
          @if (canBeUpdated) {
            <lg-input formControlName="invoice_number"
                      [placeholder]="'invoices.invoice-number-placeholder' | translate"
                      [required]="true"></lg-input>
          } @else {
            <lg-readonly-control [value]="form.value?.invoice_number"
                                 [placeholder]="'invoices.invoice-number-placeholder' | translate">
            </lg-readonly-control>
          }
        </lg-control>
      </lg-flex-row>

      <lg-flex-row [mobileMode]="true" [right]="true" lgExpand>
        <lg-control [label]="'invoices.date-issued' | translate" lgExpand>
          @if (canBeUpdated) {
            <lg-date-picker formControlName="date_issued"
                            [required]="true"></lg-date-picker>
          } @else {
            <lg-readonly-control [value]="form.value?.date_issued | date: 'dd.MM.yyyy'"
                                 [placeholder]="'invoices.date-issued' | translate"
                                 lgExpand>
            </lg-readonly-control>
          }
        </lg-control>

        <lg-control [label]="'invoices.due-date' | translate" lgExpand>
          @if (canBeUpdated) {
            <lg-date-picker formControlName="date_due"></lg-date-picker>
          } @else {
            <lg-readonly-control [value]="form.value?.date_due | date: 'dd.MM.yyyy'"
                                 [placeholder]="'invoices.due-date' | translate"
                                 lgExpand>
            </lg-readonly-control>
          }
        </lg-control>
      </lg-flex-row>
    </lg-flex-row>

    <lg-flex-row [mobileMode]="true" [relaxed]="true">
      <lg-control [label]="'invoices.company-details' | translate" lgExpand>
        <lg-credential-field (deleted)="onCredentialDeleted('system')"
                             (selected)="onCredentialSelected($event)"
                             [placeholder]="'invoices.company-placeholder' | translate"
                             [readonly]="!canBeUpdated"
                             [type]="CredentialsType.system"
                             formControlName="credential_from">
        </lg-credential-field>
      </lg-control>

      <lg-control [label]="'invoices.customer-details' | translate" lgExpand>
        <lg-credential-field (deleted)="onCredentialDeleted('customer')"
                             (selected)="onCredentialSelected($event)"
                             [placeholder]="'invoices.customer-placeholder' | translate"
                             [readonly]="!canBeUpdated"
                             [type]="CredentialsType.customer"
                             formControlName="credential_to">
        </lg-credential-field>
      </lg-control>
    </lg-flex-row>

    <hr color="#fafafa" lgExpand size="2"/>

    <lg-flex-column [position]="'start'" [size]="'medium'">
      <lg-flex-row [equal]="true"
                   [mobileMode]="true"
                   [size]="'medium'"
                   [styles]="{'--lg-gap-row-pad-right': canBeUpdated ? '36px' : 0}"
                   lgExpand>
        <div lgWidth="30%">{{ 'invoices.item' | translate }}</div>
        <div lgWidth="20%">{{ 'invoices.amount' | translate }}</div>
        <div lgWidth="12.5%">{{ 'invoices.price-per-unit' | translate }}</div>
        <div lgWidth="12.5%">{{ 'invoices.price' | translate }}</div>
        <div lgWidth="12.5%">{{ 'invoices.taxes-and-fees' | translate }}</div>
        <div lgWidth="12.5%">{{ 'invoices.total' | translate }}</div>
      </lg-flex-row>


      <lg-flex-column [size]="'medium'" formArrayName="rows" lgExpand>
        @for (control of rows.controls; track (control.value.amount + i + 1); let i = $index, last = $last) {
          <ng-container [formGroupName]="i">
            @let item = invoiceBuilderService.invoice()?.rows?.[i];
            @let isRecipe = item?.type === 'recipe';
            @let isProduct = item?.type === 'product';
            <lg-controls-row [mobileMode]="true" [equal]="true">

              @if (canBeUpdated) {
                <lg-invoice-item-selector lgWidth="30%"
                                          (onChanged)="onItemChanged($event, i)"
                                          formControlName="activeTab">
                  <lg-multiselect [resource]="'recipes'"
                                  appendTo="body"
                                  [placeholder]="'invoices.find-recipe' | translate"
                                  formControlName="recipe_id"
                                  (onSelected)="onRecipeSelected($event, i)"
                                  ngProjectAs="recipes"
                                  [autoLoad]="true"></lg-multiselect>

                  <lg-multiselect [resource]="'products'"
                                  (onSelected)="onProductSelected($event, i)"
                                  appendTo="body"
                                  formControlName="product_id"
                                  [placeholder]="'invoices.find-product' | translate"
                                  ngProjectAs="products"
                                  [autoLoad]="true">
                  </lg-multiselect>
                </lg-invoice-item-selector>
              } @else {
                <lg-readonly-control [placeholder]="'invoices.unknown-item' | translate"
                                     [value]="item?.pinnedDto?.entity_name"
                                     lgWidth="40%">
                </lg-readonly-control>
              }

              @if (canBeUpdated) {
                <lg-number-input #amount
                                 lgParseMath
                                 lgWidth="20%"
                                 (onInputChange)="onAmountChange($event, i)"
                                 [placeholder]="'0'"
                                 formControlName="amount">
                  <ng-template lgExtraTpl place="after">
                    <lg-unit-switcher [disable]="true"
                                      formControlName="unit">
                    </lg-unit-switcher>
                  </ng-template>
                </lg-number-input>
              } @else {
                <lg-readonly-control [placeholder]="'0'"
                                     [value]="item?.pinnedDto?.amount"
                                     lgWidth="12.5%">
                </lg-readonly-control>
              }

              @if (canBeUpdated) {
                <lg-number-input lgParseMath
                                 (onInputChange)="onPerUnitPriceChange($event, i)"
                                 lgWidth="12.5%"
                                 [placeholder]="'0'"
                                 formControlName="pricePerUnit">
                </lg-number-input>
              } @else {
                <lg-readonly-control [placeholder]="'0'"
                                     [value]="item?.pricePerUnitModified | userCurrency: '1.2-4'"
                                     lgWidth="12.5%">
                </lg-readonly-control>
              }


              @if (canBeUpdated && !invoice?.taxesAlreadyIncluded) {
                <lg-number-input lgParseMath
                                 (onInputChange)="onTotalPriceChange($event, i)"
                                 lgWidth="12.5%"
                                 [placeholder]="'0'"
                                 formControlName="totalPrice">
                </lg-number-input>
              } @else {
                <lg-readonly-control [placeholder]="'0'"
                                     [value]="item?.totalPrice | userCurrency: '1.2-4'"
                                     lgWidth="12.5%">
                </lg-readonly-control>
              }

              @let taxAmount = item?.calculateTaxesAndFeesAmount(invoice?.taxesAndFees ?? []) ?? 0;

              @if (isRecipe) {
                <lg-readonly-control [placeholder]="'0'"
                                     [value]="taxAmount | userCurrency: '1.2-4'"
                                     lgWidth="12.5%">
                </lg-readonly-control>
              } @else {
                <div lgWidth="12.5%"></div>
              }


              @if (invoice?.taxesAlreadyIncluded) {
                <lg-number-input lgParseMath
                                 (onInputChange)="onTotalPriceWithTaxesAndFeesChange($event, i)"
                                 lgWidth="12.5%"
                                 [placeholder]="'0'"
                                 formControlName="totalPriceWithTaxesAndFees">
                </lg-number-input>
              } @else {
                <lg-readonly-control [placeholder]="'0'"
                                     [value]="((item?.totalPrice ?? 0) + taxAmount) | userCurrency: '1.2-4'"
                                     lgWidth="12.5%">
                </lg-readonly-control>
              }

              @if (canBeUpdated) {
                <ng-container ngProjectAs="rowActions">
                  <lg-button [style]="'danger'"
                             [size]="'tiny'"
                             [icon]="true"
                             (click)="deleteGood(i)">
                    <mat-icon aria-hidden="false" fontIcon="close"></mat-icon>
                  </lg-button>
                </ng-container>
              }
            </lg-controls-row>

            @if (!last) {
              <hr size="2" lgExpand color="#fafafa"/>
            }
          </ng-container>
        }
      </lg-flex-column>

      @if (canBeUpdated) {
        <lg-button (click)="addGood()"
                   [size]="'small'"
                   [style]="'success'">
          {{ 'invoices.add-item' | translate }}
          <mat-icon [inline]="true"
                    aria-hidden="false"
                    fontIcon="add"></mat-icon>
        </lg-button>
      }
    </lg-flex-column>

    <hr color="#fafafa" lgExpand size="2"/>

    <lg-invoice-taxes-and-fees (onAdd)="invoiceBuilderService.addTax($event[1])"
                               (onRemove)="invoiceBuilderService.removeTax($event[1])"
                               [invoice]="invoiceBuilderService.invoice()"
                               formControlName="taxes_and_fees"></lg-invoice-taxes-and-fees>

    <!--    <lg-flex-row [mobileMode]="true" [relaxed]="true">-->
    <!--      <lg-control-box lgShrink>-->
    <!--        <lg-control flow="row-reverse"-->
    <!--                    label="Include taxes in total"-->
    <!--                    labelFor="taxesIncluded-">-->
    <!--          <lg-checkbox formControlName="taxesIncluded"-->
    <!--                       name="taxesIncluded"-->
    <!--                       size="small"></lg-checkbox>-->
    <!--        </lg-control>-->
    <!--      </lg-control-box>-->
    <!--    </lg-flex-row>-->

    <hr color="#fafafa" lgExpand size="2"/>

    <lg-flex-row [mobileMode]="true" [relaxed]="true">
      <lg-control [label]="'invoices.notes' | translate"
                  lgExpand>
        @if (canBeUpdated) {
          <lg-textarea [rows]="2"
                       formControlName="notes"
                       [placeholder]="'invoices.notes-placeholder' | translate"></lg-textarea>
        } @else {
          <lg-readonly-control formControlName="notes"
                               lgExpand
                               [placeholder]="'invoices.notes-placeholder' | translate"></lg-readonly-control>
        }
      </lg-control>

      <lg-control [label]="'invoices.terms' | translate"
                  lgExpand>
        @if (canBeUpdated) {
          <lg-textarea [rows]="2"
                       formControlName="terms"
                       lgExpand
                       [placeholder]="'invoices.terms-placeholder' | translate"></lg-textarea>
        } @else {
          <lg-readonly-control formControlName="terms"
                               [placeholder]="'invoices.terms-placeholder' | translate"
                               lgExpand>
          </lg-readonly-control>
        }
      </lg-control>
    </lg-flex-row>

    <lg-flex-column position="end" size="small">
      <lg-flex-row [relaxed]="true">
        {{ 'invoices.subtotal' | translate }}
        <b class="text-right text-bold" lgWidth="200px">
          {{ invoiceBuilderService.invoice()?.total | userCurrency: '1.2-4' }}
        </b>
      </lg-flex-row>

      <lg-flex-row [relaxed]="true">
        {{ 'invoices.tax' | translate }}
        <b class="text-right text-bold" lgWidth="200px">
          {{ invoiceBuilderService.invoice()?.taxTotal | userCurrency: '1.2-4' }}
        </b>
      </lg-flex-row>

      <lg-flex-row [relaxed]="true">
        {{ 'invoices.fee' | translate }}
        <b class="text-right text-bold" lgWidth="200px">
          {{ invoiceBuilderService.invoice()?.feesAmount | userCurrency: '1.2-4' }}
        </b>
      </lg-flex-row>

      <lg-flex-row [relaxed]="true">
        <b class="text-right text-bold">{{ 'invoices.total' | translate }}</b>
        <b class="text-right text-bold" lgWidth="200px">
          {{ invoiceBuilderService.invoice()?.totalWithTaxAndFees | userCurrency: '1.2-4' }}
        </b>
      </lg-flex-row>
    </lg-flex-column>
  </lg-flex-column>
</form>
