<form [formGroup]="form"
      style="--control-bg: #fff">
  @let invoice = invoiceBuilderService.invoice();
  @let canBeUpdated = invoice?.canBeUpdated;
  <lg-flex-column>
    <lg-control label="Prvate name">
      @if (canBeUpdated) {
        <lg-input #nameField
                  [placeholder]="'Just free style optional name. It\'s visible only for you'"
                  formControlName="name"></lg-input>
      } @else {
        <lg-readonly-control [placeholder]="''"
                             lgExpand
                             [value]="form.value?.name"></lg-readonly-control>
      }
    </lg-control>

    <lg-flex-row [mobileMode]="true" [relaxed]="true">
      <lg-flex-row [left]="true" [mobileMode]="true" lgExpand>
        <lg-control label="Prefix"
                    lgWidth="25%">
          @if (canBeUpdated) {
            <lg-input formControlName="prefix"
                      placeholder="Prefix, for unique identification"
            ></lg-input>
          } @else {
            <lg-readonly-control [value]="form.value?.prefix"
                                 placeholder="Prefix, for unique identification">
            </lg-readonly-control>
          }
        </lg-control>

        <lg-control label="Invoice number" lgWidth="40%">
          @if (canBeUpdated) {
            <lg-input formControlName="invoice_number"
                      placeholder="Invoice number, you can choose any format"
                      [required]="true"></lg-input>
          } @else {
            <lg-readonly-control [value]="form.value?.invoice_number"
                                 placeholder="Invoice number, you can choose any format">
            </lg-readonly-control>
          }
        </lg-control>
      </lg-flex-row>

      <lg-flex-row [mobileMode]="true" [right]="true" lgExpand>
        <lg-control label="Date issued" lgExpand>
          @if (canBeUpdated) {
            <lg-date-picker formControlName="date_issued"
                            [required]="true"></lg-date-picker>
          } @else {
            <lg-readonly-control [value]="form.value?.date_issued | date: 'dd.MM.yyyy'"
                                 placeholder="Date issued"
                                 lgExpand>
            </lg-readonly-control>
          }
        </lg-control>

        <lg-control label="Due date" lgExpand>
          @if (canBeUpdated) {
            <lg-date-picker formControlName="date_due"></lg-date-picker>
          } @else {
            <lg-readonly-control [value]="form.value?.date_due | date: 'dd.MM.yyyy'"
                                 placeholder="Due date"
                                 lgExpand>
            </lg-readonly-control>
          }
        </lg-control>
      </lg-flex-row>
    </lg-flex-row>

    <lg-flex-row [mobileMode]="true" [relaxed]="true">
      <lg-control label="Your company details" lgExpand>
        <lg-credential-field (deleted)="onCredentialDeleted('system')"
                             (selected)="onCredentialSelected($event)"
                             [readonly]="!canBeUpdated"
                             [type]="CredentialsType.system"
                             formControlName="credential_from"
                             placeholder="Company name, address, etc.">
        </lg-credential-field>
      </lg-control>

      <lg-control label="Your customer details" lgExpand>
        <lg-credential-field (deleted)="onCredentialDeleted('customer')"
                             (selected)="onCredentialSelected($event)"
                             [readonly]="!canBeUpdated"
                             [type]="CredentialsType.customer"
                             formControlName="credential_to"
                             placeholder="Address, customer name, etc.">
        </lg-credential-field>
      </lg-control>
    </lg-flex-row>

    <hr color="#fafafa" lgExpand size="2"/>

    <lg-flex-column [position]="'start'" [size]="'medium'">
      <lg-flex-row [equal]="true"
                   [mobileMode]="true"
                   [size]="'medium'"
                   [styles]="{'--lg-gap-row-pad-right': canBeUpdated ? '36px' : 0}"
                   lgExpand>
        <div lgWidth="30%">Item</div>
        <div lgWidth="20%">Amount</div>
        <div lgWidth="12.5%">Price per unit</div>
        <div lgWidth="12.5%">Price</div>
        <div lgWidth="12.5%">Taxes and fees</div>
        <div lgWidth="12.5%">Total</div>
      </lg-flex-row>


      <lg-flex-column [size]="'medium'" formArrayName="rows" lgExpand>
        @for (control of rows.controls; track (control.value.amount + i + 1); let i = $index, last = $last) {
          <ng-container [formGroupName]="i">
            @let item = invoiceBuilderService.invoice()?.rows?.[i];
            <lg-controls-row [mobileMode]="true" [equal]="true">

              @if (canBeUpdated) {
                <lg-invoice-item-selector lgWidth="30%"
                                          (onChanged)="onItemChanged($event, i)"
                                          formControlName="activeTab">
                  <lg-multiselect [resource]="'recipes'"
                                  appendTo="body"
                                  [placeholder]="'Find recipe'"
                                  formControlName="recipe_id"
                                  (onSelected)="onRecipeSelected($event, i)"
                                  ngProjectAs="recipes"
                                  [autoLoad]="true"></lg-multiselect>

                  <lg-multiselect [resource]="'products'"
                                  (onSelected)="onProductSelected($event, i)"
                                  appendTo="body"
                                  formControlName="product_id"
                                  [placeholder]="'Find product'"
                                  ngProjectAs="products"
                                  [autoLoad]="true">
                  </lg-multiselect>
                </lg-invoice-item-selector>
              } @else {
                <lg-readonly-control [placeholder]="'Unknown item'"
                                     [value]="item?.pinnedDto?.entity_name"
                                     lgWidth="40%">
                </lg-readonly-control>
              }

              @if (canBeUpdated) {
                <lg-number-input #amount
                                 lgParseMath
                                 lgWidth="20%"
                                 (onInputChange)="onAmountChange($event, i)"
                                 [placeholder]="'0'"
                                 formControlName="amount">
                  <ng-template lgExtraTpl place="after">
                    <lg-unit-switcher [disable]="true"
                                      formControlName="unit">
                    </lg-unit-switcher>
                  </ng-template>
                </lg-number-input>
              } @else {
                <lg-readonly-control [placeholder]="'0'"
                                     [value]="item?.pinnedDto?.amount"
                                     lgWidth="12.5%">
                </lg-readonly-control>
              }

              @if (canBeUpdated) {
                <lg-number-input lgParseMath
                                 (onInputChange)="onPerUnitPriceChange($event, i)"
                                 lgWidth="12.5%"
                                 [placeholder]="'0'"
                                 formControlName="pricePerUnit">
                </lg-number-input>
              } @else {
                <lg-readonly-control [placeholder]="'0'"
                                     [value]="item?.pricePerUnitModified | userCurrency: '1.2-4'"
                                     lgWidth="12.5%">
                </lg-readonly-control>
              }


              @if (canBeUpdated && !invoice?.taxesAlreadyIncluded) {
                <lg-number-input lgParseMath
                                 (onInputChange)="onTotalPriceChange($event, i)"
                                 lgWidth="12.5%"
                                 [placeholder]="'0'"
                                 formControlName="totalPrice">
                </lg-number-input>
              } @else {
                <lg-readonly-control [placeholder]="'0'"
                                     [value]="item?.totalPrice | userCurrency: '1.2-4'"
                                     lgWidth="12.5%">
                </lg-readonly-control>
              }

              @let taxAmount = item?.calculateTaxesAndFeesAmount(invoice?.taxesAndFees ?? []) ?? 0;

              <lg-readonly-control [placeholder]="'0'"
                                   [value]="taxAmount | userCurrency: '1.2-4'"
                                   lgWidth="12.5%">
              </lg-readonly-control>

              @if (invoice?.taxesAlreadyIncluded) {
                <lg-number-input lgParseMath
                                 (onInputChange)="onTotalPriceWithTaxesAndFeesChange($event, i)"
                                 lgWidth="12.5%"
                                 [placeholder]="'0'"
                                 formControlName="totalPriceWithTaxesAndFees">
                </lg-number-input>
              } @else {
                <lg-readonly-control [placeholder]="'0'"
                                     [value]="((item?.totalPrice ?? 0) + taxAmount) | userCurrency: '1.2-4'"
                                     lgWidth="12.5%">
                </lg-readonly-control>
              }

              @if (canBeUpdated) {
                <ng-container ngProjectAs="rowActions">
                  <lg-button [style]="'danger'"
                             [size]="'tiny'"
                             [icon]="true"
                             (click)="deleteGood(i)">
                    <mat-icon aria-hidden="false" fontIcon="close"></mat-icon>
                  </lg-button>
                </ng-container>
              }
            </lg-controls-row>

            @if (!last) {
              <hr size="2" lgExpand color="#fafafa"/>
            }
          </ng-container>
        }
      </lg-flex-column>

      @if (canBeUpdated) {
        <lg-button (click)="addGood()"
                   [size]="'small'"
                   [style]="'success'">
          Add item
          <mat-icon [inline]="true"
                    aria-hidden="false"
                    fontIcon="add"></mat-icon>
        </lg-button>
      }
    </lg-flex-column>

    <hr color="#fafafa" lgExpand size="2"/>

    <lg-invoice-taxes-and-fees (onAdd)="invoiceBuilderService.addTax($event[1])"
                               (onRemove)="invoiceBuilderService.removeTax($event[1])"
                               [invoice]="invoiceBuilderService.invoice()"
                               formControlName="taxes_and_fees"></lg-invoice-taxes-and-fees>

    <lg-checkbox formControlName="taxesIncluded"></lg-checkbox>

    <hr color="#fafafa" lgExpand size="2"/>

    <lg-flex-row [mobileMode]="true" [relaxed]="true">
      <lg-control label="Notes"
                  lgExpand>
        @if (canBeUpdated) {
          <lg-textarea [rows]="2"
                       formControlName="notes"
                       placeholder="Notes for you or your customer"></lg-textarea>
        } @else {
          <lg-readonly-control formControlName="notes"
                               lgExpand
                               placeholder="No notes"></lg-readonly-control>
        }
      </lg-control>

      <lg-control label="Terms"
                  lgExpand>
        @if (canBeUpdated) {
          <lg-textarea [rows]="2"
                       formControlName="terms"
                       lgExpand
                       placeholder="Terms and conditions"></lg-textarea>
        } @else {
          <lg-readonly-control formControlName="terms"
                               placeholder="No terms"
                               lgExpand>
          </lg-readonly-control>
        }
      </lg-control>
    </lg-flex-row>

    <lg-flex-column position="end" size="small">
      <lg-flex-row [relaxed]="true">
        Subtotal
        <b class="text-right text-bold" lgWidth="200px">
          {{ invoiceBuilderService.invoice()?.total | userCurrency: '1.2-4' }}
        </b>
      </lg-flex-row>

      <lg-flex-row [relaxed]="true">
        Tax
        <b class="text-right text-bold" lgWidth="200px">
          {{ invoiceBuilderService.invoice()?.taxTotal | userCurrency: '1.2-4' }}
        </b>
      </lg-flex-row>

      <lg-flex-row [relaxed]="true">
        Fees
        <b class="text-right text-bold" lgWidth="200px">
          {{ invoiceBuilderService.invoice()?.feesAmount | userCurrency: '1.2-4' }}
        </b>
      </lg-flex-row>

      <lg-flex-row [relaxed]="true">
        <b class="text-right text-bold">Total</b>
        <b class="text-right text-bold" lgWidth="200px">
          {{ invoiceBuilderService.invoice()?.totalWithTaxAndFees | userCurrency: '1.2-4' }}
        </b>
      </lg-flex-row>
    </lg-flex-column>
  </lg-flex-column>
</form>
