<form [formGroup]="form">
  <lg-flex-column>
    <lg-card>
      <lg-flex-column>
        <lg-control [label]="'product.form.name.placeholder'|translate">
          <lg-input #nameField
                    formControlName="name"
                    placeholder=""></lg-input>
        </lg-control>

        <lg-flex-row [center]="true" [mobileMode]="true">
          <lg-control
            [label]="'product.form.amount.placeholder'|translate:{unit:('unit.long.'+(form.value.unit || UnitValue.GRAM)|translate)}"
            lgExpand>
            <lg-number-input #amountField
                             (onInputChange)="priceField.focus()"
                             formControlName="amount"
                             lgParseMath
                             placeholder="">
              <ng-template lgExtraTpl place="after">
                <lg-flex-row [center]="true" [size]="'small'">
                  <lg-amount-widgets (eggsChanged)="eggsChanged($event)"></lg-amount-widgets>

                  <lg-unit-switcher formControlName="unit">
                  </lg-unit-switcher>
                </lg-flex-row>
              </ng-template>
            </lg-number-input>
          </lg-control>

          <lg-control [label]="'product.form.price.placeholder'|translate:{currency:'EUR'}"
                      lgWidth="40%">
            <lg-number-input #priceField
                             formControlName="price"
                             lgParseMath
                             placeholder="">
              <ng-template lgExtraTpl place="after">
                <span>{{ userSettings()['currency']|currencySymbol }}</span>

              </ng-template>
            </lg-number-input>
          </lg-control>

          <lg-control lgWidth="40%">
            <ng-template lgControlLabelTemplate>
              <span>{{ userSettings()['currency']|currencySymbol }}</span>
              <span [translateParams]="{unit:product()?.unit | unitString | translate}"
                    [translate]="'per-unit.label'"></span>
            </ng-template>

            @if (hasMicroPrice()) {
              <lg-readonly-control [placeholder]="''"
                                   [value]="'micro-amount'|translate ">
              </lg-readonly-control>
            } @else {
              <lg-readonly-control [placeholder]="''"
                                   [value]="product()?.pricePerUnit | number:pipesDigits() ">
              </lg-readonly-control>
            }
          </lg-control>
        </lg-flex-row>
      </lg-flex-column>
    </lg-card>

    <lg-flex-row [equal]="true" [mobileMode]="true" [top]="true" style="--control-bg: var(--hr-bg-strong)">
      <lg-flex-column>
        <lg-control [label]="'product.form.notes.placeholder'|translate">
          <lg-control-box lgExpand
                          style="--control-box-bg: var(--control-bg)">
            <lg-html-editor [placeholder]="''"
                            formControlName="notes"></lg-html-editor>
          </lg-control-box>
        </lg-control>
      </lg-flex-column>

      <lg-flex-column>
        <lg-control [label]="'product.form.source.placeholder'|translate">
          <lg-flex-column size="small">
            <lg-autocomplete #sourceInput
                             (onSelected)="sourceChips.clearSelected()"
                             [noLoad]="true"
                             [resource]="'sources'"
                             appendTo="body"
                             formControlName="source"
                             placeholder=""></lg-autocomplete>
            <div [hidden]="!topSources().length">
              <lg-chips-list #sourceChips [control]="sourceInput" [items]="topSources()"></lg-chips-list>
            </div>
          </lg-flex-column>
        </lg-control>

        <lg-control [label]="'product.form.brand.placeholder'|translate">
          <lg-flex-column size="small">
            <lg-autocomplete #brandInput
                             (onSelected)="brandChips.clearSelected()"
                             [noLoad]="true"
                             [resource]="'brands'"
                             appendTo="body"
                             formControlName="brand"
                             placeholder=""></lg-autocomplete>
            <div [hidden]="!topBrands().length">
              <lg-chips-list #brandChips [control]="brandInput" [items]="topBrands()"></lg-chips-list>
            </div>
          </lg-flex-column>
        </lg-control>

        <lg-control [label]="'product.form.category_id.placeholder'|translate">
          <lg-flex-column size="small">
            <lg-multiselect #categorySelect
                            [resource]="'product-categories'"
                            appendTo="body"
                            formControlName="category_id"
                            placeholder="">
            </lg-multiselect>

            @if (topCategories().length) {
              <lg-chips-list [control]="categorySelect" [items]="topCategories()"></lg-chips-list>
            }
          </lg-flex-column>
        </lg-control>
      </lg-flex-column>
    </lg-flex-row>
  </lg-flex-column>
</form>
