<form [formGroup]="form">
  <lg-flex-column>
    <lg-card>
      <lg-flex-column>
        <lg-control [label]="'product.form.name.placeholder'|translate">
          <lg-input #nameField
                    formControlName="name"
                    placeholder=""></lg-input>
        </lg-control>

        <lg-flex-row [center]="true" [mobileMode]="true">
          <lg-control [label]="'product.form.amount.placeholder'|translate:{unit:form.value.unit}"
                      lgExpand>
            <lg-number-input (onInputChange)="priceInput.focus()"
                             formControlName="amount"
                             lgParseMath
                             placeholder="">
              <ng-template lgExtraTpl place="after">
                <lg-flex-row [center]="true" [size]="'small'">
                  <lg-tooltip [position]="'left'">
                    <lg-button [flat]="true"
                               [icon]="true"
                               [style]="'success'">
                      <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
                    </lg-button>

                    <div ngProjectAs="content">
                      <lg-amount-widgets (eggsChanged)="eggsChanged($event)"></lg-amount-widgets>
                    </div>
                  </lg-tooltip>
                  <lg-unit-switcher formControlName="unit">
                  </lg-unit-switcher>
                </lg-flex-row>
              </ng-template>
            </lg-number-input>
          </lg-control>

          <lg-control [label]="'product.form.price.placeholder'|translate:{currency:'EUR'}"
                      lgWidth="40%">
            <lg-number-input #priceInput formControlName="price"
                             lgParseMath
                             placeholder="">
              <ng-template lgExtraTpl place="after">
                <span>{{ userSettings()['currency']|currencySymbol }}</span>
              </ng-template>
            </lg-number-input>
          </lg-control>
        </lg-flex-row>
      </lg-flex-column>
    </lg-card>

    <lg-flex-row [equal]="true" [mobileMode]="true" [top]="true" style="--control-bg: var(--hr-bg-strong)">
      <lg-control [label]="'product.form.source.placeholder'|translate">
        <lg-flex-column>
          <lg-autocomplete #sourceInput
                           (onSelected)="sourceChips.clearSelected()"
                           [noLoad]="true"
                           [resource]="'sources'"
                           appendTo="body"
                           formControlName="source"
                           placeholder=""></lg-autocomplete>
          <div [hidden]="!topSources().length">
            <lg-chips-list #sourceChips [control]="sourceInput" [items]="topSources()"></lg-chips-list>
          </div>
        </lg-flex-column>
      </lg-control>

      <lg-control [label]="'product.form.category_id.placeholder'|translate">
        <lg-flex-column>
          <lg-multiselect #categorySelect
                          [resource]="'categories'"
                          appendTo="body"
                          formControlName="category_id"
                          placeholder=""></lg-multiselect>

          @if (topCategories().length) {
            <lg-chips-list [control]="categorySelect" [items]="topCategories()"></lg-chips-list>
          }
        </lg-flex-column>
      </lg-control>
    </lg-flex-row>
  </lg-flex-column>
</form>
