name: deploy-test

on:
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    concurrency: ci-${{ github.ref }}

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          cache-dependency-path: lasagna/package-lock.json
          node-version: ${{ matrix.node-version }}
          cache: 'npm'


      - name: Install, build, and test
        run: |
          cd lasagna
          npm ci --force
          npm run build --if-present

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build
          clean: true
          branch: gh-pages