name: Playwright Tests
on:
  push:
    branches: [ main, master, ceo]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci --force
      working-directory: ./lasagna
    - name: Prebuild Lasagna
      run: node scripts/set-env.js --prefix=local && node scripts/set-env.js
      working-directory: ./lasagna
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
      working-directory: ./lasagna
    - name: Run Playwright tests
      run: npx playwright test
      working-directory: ./lasagna
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30